
<div class="content-page">
                <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table  table-striped">
                                    <thead>
                                            <tr>
                                                <th data-priority="1">ID</th>
                                                <th data-priority="3">Email</th>
                                                <th data-priority="1">Phone Number</th>
                                                <th data-priority="3">Block</th>
                                                <th data-priority="6">Sex</th>
                                                <th data-priority="6">Birthday</th>
                                                <th data-priority="6">Created day</th>
                                                <th data-priority="6">Action</th>
                                            </tr>    
                                                </thead>
                                                <tbody>
                                                <% users = User.all.paginate(:per_page => 10, :page => params[:page]) %>
                                                <% users.each do |user| %> 
                                                    <tr>
                                                        <th>
                                                            <%= user.id %>
                                                        </th>
                                                        <td> <%= user.email %> </td>
                                                        <td> <%= user.phone_number %> </td>
                                                        <td>
                                                            <% if user.blocked == 1 %>
                                                                <span class="label label-danger">
                                                                    Blocked
                                                                </span>
                                                            <% else %>
                                                                <span class="label label-success">
                                                                    Opening
                                                                </span>
                                                            <% end %>
                                                        </td>
                                                        <td> fdsadfsjfdijd </td>
                                                        <td> <%= user.day_of_birth %> </td>
                                                        <td> <%= user.created_at.strftime("%d-%m-%Y %I:%M%p") %> </td>
                                                        <% if user.blocked == 0 %>
                                                            <td> 
                                                                <%= link_to "Block Account", { 
                                                                    controller: "admin",
                                                                    action: "block_and_unblock_user", 
                                                                    id: user.id },
                                                                    class: "btn btn-danger waves-effect w-md waves-light m-b-5" %>
                                                            </td>
                                                        <% else %>
                                                            <td> 
                                                                <%= link_to "Open Account", {
                                                                    controller: "admin",
                                                                    action: "block_and_unblock_user",
                                                                    id: user.id },
                                                                    class: "btn btn-success waves-effect w-md waves-light m-b-5" %>
                                                            </td>
                                                        <% end %>
                                                    </tr> 
                                                <% end %>     
                                                </tbody>
                                            </table>
                                            <p><%= will_paginate users %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                    </div> <!-- container -->
                </div> <!-- content -->
                <footer class="footer">
                    2017 © Parttimebee.
                </footer>
            </div>