<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
       <div class="container">
          <div class="row">
             <div class="col-sm-12">
                <div class="card-box">
                   <div class="table-rep-plugin">
                      <div class="table-responsive" data-pattern="priority-columns">
                         <table id="tech-companies-1" class="table  table-striped">
                            <thead>
                               <tr>
                                  <center>
                                     <th>ID</th>
                                  </center>
                                  <th data-priority="1">Full Name</th>
                                  <th data-priority="1">User ID</th>
                                  <th data-priority="3">Email Of User</th>
                                  <th data-priority="3">User type</th>
                                  <th data-priority="1">Phone Number</th>
                                  <th data-priority="3">Active</th>
                                  <th data-priority="3">Block</th>
                                  <th data-priority="6">Day Of Birthday</th>
                                  <th data-priority="6">Created day</th>
                                  <center>
                                     <th data-priority="6">Action</th>
                                  </center>
                               </tr>
                            </thead>
                            <tbody>
                               <% @users = User.where.not(type_user: "admin").paginate(:per_page => 10, :page => params[:page]) %>
                               <% @users.each do |user| %> 
                               <tr>
                                  <th><span class="co-name"><%= user.id %></span></th>
                                  <td> <%= user.full_name %> </td>
                                  <td> <%= user.id %> </td>
                                  <td> <%= user.email %> </td>
                                  <td> <%= user.type_user %> </td>
                                  <td> <%= user.phone_number %> </td>
                                  <% if user.activated == 0%>
                                  <td>Not active</td>
                                  <% end %>
                                  <% if user.activated == 1%>
                                  <td>Activated</td>
                                  <% end %>
                                  <td>
                                     <% if user.blocked == 1%>
                                     Blocked
                                     <% end %>
                                     <% if user.blocked == 0%>
                                     Not Block
                                     <% end %>
                                  </td>
                                  <td> <%= user.day_of_birth %> </td>
                                  <td> <%= user.created_at.strftime("%d-%m-%Y %I:%M%p") %> </td>
                                  <td> 
                                     <a href="/admin/details-user/profile/<%= user.id %>" type="button" class="btn btn-success waves-effect w-md waves-light m-b-5">Show Details</a>
                                  </td>
                               </tr>
                               <% end %>     
                            </tbody>
                         </table>
                         <p><%= will_paginate @users %></p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- End row -->
       </div>
       <!-- container -->
    </div>
    <!-- content -->
    <footer class="footer">
       2017 © Parttimebee.
    </footer>
 </div>
 <!-- End content-page -->
 <!-- ============================================================== -->
 <!-- End Right content here -->
 <!-- ============================================================== -->