<%= stylesheet_link_tag 'sweetalert/sweetalert.css' %>
<div class="content-page">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <div id="custom-width-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog" style="width:55%;">
                <div class="modal-content">
                  <%= form_for(:admin, :url => {:controller => 'admin', :action => 'set_expire_job_time', :class => 'modal-content'}) do |f| %>
                    <div class="modal-header">
                      <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
                      <center>
                        <h4 class="modal-title" id="custom-width-modalLabel">Add your expire job time</h4>
                      </center>
                    </div>
                    <div class="modal-body">
                      <h4>Expire Job Time</h4>
                      <%= f.number_field :expire_job_time, :class=>"form-control", :required => true, :placeholder => "Enter your expire job time" %>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="btn btn-danger" data-dismiss="modal">Close</a>
                      <%= f.submit "Agree", :class => "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="table-rep-plugin">
              <div class="table-responsive" data-pattern="priority-columns">
                <table id="tech-companies-1" class="table  table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th data-priority="3">Expire Job Time (days)</th>
                      <th data-priority="6">Created</th>
                      <th data-priority="6">Updated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% admin = Admin.first %>
                    <tr>
                      <th><span class="co-name"><%= admin.id %></span></th>
                      <td> <%= admin.expire_job_time %></td>
                      <td> <%= admin.created_at %> </td>
                      <td> <%= admin.updated_at %> </td>
                    </tr>
                  </tbody>
                </table>
                <center>
                  <a class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#custom-width-modal">Add Time Expire Job</a>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- container -->
  </div> <!-- content -->
  <footer class="footer">
    2017 © Parttimebee.
  </footer>
</div>
<%= javascript_include_tag "sweetalert/sweetalert" %>
<%= javascript_include_tag "admin/jquery.min" %>