<div class="account-pages"></div>
<div class="clearfix"></div>
  <div class="wrapper-page">
    <div class="text-center">
      <a href="index.html" class="logo"><span>Parttimebee<span></span></span></a>
      <h5 class="text-muted m-t-0 font-600">Parttimebee Admin Systems</h5>
    </div>
    <% if flash[:password_not_the_same] %>
      <div class="alert alert-danger">
        <center>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= flash[:password_not_the_same] %>
        </center>
      </div>
    <% end %>
    <% if flash[:validate_password] %>
      <div class="alert alert-danger">
          <center>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:validate_password] %>
          </center>
      </div>
    <% end %>
    <% if flash[:update_success] %>
      <div class="alert alert-success">
        <center>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:update_success] %>
        </center>
      </div>
    <% end %>
    <div class="m-t-40 card-box">
      <div class="text-center">
        <h4 class="text-uppercase font-bold m-b-0">New Password</h4>
      </div>
      <div class="panel-body form-horizontal m-t-20">
        <%= form_for(:reset, :url => {:controller => 'adminlogin', :action => 'update_password_reset'}) do |f| %>
          <div class="form-group">
            <div class="col-xs-12">
              <%= f.password_field :password, :class=>"form-control", :required => true, :placeholder => 'New password' %> 
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <%= f.password_field :confirm_password, :class=>"form-control", :required => true, :placeholder => 'Confirm New Password' %>
            </div>
          </div>
          <div class="form-group text-center m-t-20 m-b-0">
            <div class="col-xs-12">
                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Agree</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- end card-box -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="text-muted">Already have account?<a href="/admin-login" class="text-primary m-l-5"><b>Sign In</b></a></p>
      </div>
    </div>
  </div>
       