<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Employer draft jobs listing</title>
	<!-- Stylesheets -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content='Search result page'/>
    <!-- Responsive -->
   <%= stylesheet_link_tag 'home/bootstrap.min' %>
  <%= stylesheet_link_tag 'home/jquery.fancybox' %>
  <%= stylesheet_link_tag 'home/select-style' %>
  <%= stylesheet_link_tag 'home/style' %>
  <%= stylesheet_link_tag 'home/flexslider' %>
  <%= stylesheet_link_tag 'home/responsive' %>
    <%= stylesheet_link_tag 'home/huan' %>
  <%= stylesheet_link_tag 'home/chosen.min' %>
  <%= stylesheet_link_tag 'dropify/dropify' %>
	<link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900|Montserrat:400,700" rel="stylesheet">
</head>
<body class="employer-expired-jobs-listing register-01">
	<% if request.original_url.include? "01-all-jobs-listing?all-jobs"%>
        <%= render 'layouts/job_employer/all_jobs'%>
    <% end %>
    <% if request.original_url.include? "01-all-jobs-listing?draft-jobs" %>
        <%= render 'layouts/job_employer/draft_jobs'%>
    <% end %>
    <% if request.original_url.include? "01-all-jobs-listing?published-jobs" %>
        <%= render 'layouts/job_employer/published_jobs'%>
    <% end %>
    <% if request.original_url.include? "01-all-jobs-listing?expired-jobs" %>
        <%= render 'layouts/job_employer/expired_jobs'%>
    <% end %>
<%= javascript_include_tag "home/jquery" %>
<%= javascript_include_tag "home/bootstrap.min" %>
<%= javascript_include_tag "home/jquery.flexslider" %>
<%= javascript_include_tag "home/jquery.fancybox" %>
<%= javascript_include_tag "home/jquery.nice-select.min" %>
<%= javascript_include_tag "home/ware" %>
<%= javascript_include_tag "home/parallax" %>
<%= javascript_include_tag "home/jquery.countdown" %>
<%= javascript_include_tag "home/chosen.jquery.min" %>
<%= javascript_include_tag "home/parttimebee-custom" %>
<%= javascript_include_tag "dropify/dropify" %>
<%= render 'layouts/verify_phone_2_step.html.erb'%>
</body><!-- .search-result-page -->
</html>