
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>employer-profile(full)</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<%= stylesheet_link_tag 'home/flexslider' %>
    <%= stylesheet_link_tag 'home/bootstrap.min' %>
    <%= stylesheet_link_tag 'home/style' %>
    <%= stylesheet_link_tag 'home/responsive' %>
    <%= stylesheet_link_tag 'home/jquery.fancybox' %>
    <%= stylesheet_link_tag 'home/huan' %>
	<link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900|Montserrat:400,700" rel="stylesheet">
</head>
<body class="employer-profile">
	<div class="wapper">
		<%= render "layouts/header"%>
		<%@employer = User.find(params[:id])%>		
        <div class="search-result">	
			<div class="employer-profile-container employer-profile-banner">
				<div class="image-left">
                <% if @employer.id == 1%>
                    <% if @employer.url_avatar.nil?%>
                        <%= image_tag "default-avatar.png", :alt => 'default avatar', :class => "avatar-custom" %>
                    <% else %>
                        <%= image_tag @employer.url_avatar, alt: "use", :class => "avatar-custom", :alt => 'default avatar' %>
                    <% end %>
                <% else %>
                    <% if Profile.where(user_id: @employer.id).count.positive?%>
                        <% @profile = Profile.where(user_id: @employer.id).first%>
                        <% if @profile.company_logo_file_name != nil%>
                            <%= image_tag @profile.company_logo.url, alt: "use", :class => "avatar-custom", :alt => 'default avatar' %>
                        <% else %>
                            <%= image_tag "default-avatar.png", :alt => 'default avatar', :class => "avatar-custom" %>
                        <% end %>
                    <% else %>
                        <%= image_tag "default-avatar.png", :class => "avatar-custom", :alt => 'default avatar' %>
                    <% end %>
                <% end %>
				</div>	
                <div class="info-right">
					<h1><%= @employer[:full_name]%></h1>
                    <span>Member since 
                    		<%=@employer[:created_at].strftime("%d %B %Y")%>
                    </span>
                    <p>
                        <% profile = Profile.where(user_id: @employer.id).first%>
                        <% unless profile.company_bio.blank? %>
                            <%= profile.company_bio.html_safe %> 
                        <% end %>
                    </p>
				</div><!-- .employer-profile-banner -->
			</div><!-- .employer-profile-container -->
		</div><!-- .search-result -->
        <div class="content">
            <div class="employer-available-jobs">
            	<h2>Available Jobs</h2>
                <div class="employer-profile-listing">
                    <ul class="employer-profile-cat">
                        <li class="job-title">Job title</li>
                        <li class="location">Location</li>
                        <li class="working-period">Working Period</li>
                    </ul>
                    <% @job = Job.where(user_id: @employer, type_job: "published").all %>
                    <% @jobs = @job.paginate(:per_page => 10, :page => params[:page]) %>
                    <%@jobs.each do |job|%>
                        <ul>
                            <li class="job-title"><%=job[:title]%></li>
                            <li class="location"><%= job[:working_address]%></li>
                            <li class="working-period">
                            	<%= job[:working_date_from].to_date.strftime("%d %B")%> - 
                                <%= job[:working_date_to].to_date.strftime("%d %B")%>
                            </li>
                            <li class="view">
                                <a class="btn-view" href="/job-details/<%=job[:id]%>">View</a>
                            </li>
                        </ul>    
                    <% end %>
                </div><!-- .employer-profile-listing -->
                <div class="page-nav">
                <% if @job.count > 10%>
    				<nav aria-label="Page navigation">
						<ul class="pagination pagination-lg">
							<li class="sub-page-nav">
							    <a href="#" aria-label="Previous">
							       <span aria-hidden="true">&laquo;</span>
							    </a>
							</li>
							<% for i in 0..@jobs.count/10  %>
								<li><a href="/05-profile-00-01/<%= @employer.id%>?page=<%=i+1%>"><%=i+1%></a></li>
							<% end %>
							<li class="sub-page-nav">
							    <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							    </a>
							</li>
						</ul>		
    				</nav>
                <% end %>
    			</div><!-- page-nav -->
            </div><!-- .employer-profile-container -->
        </div><!-- .content -->
        <%= render "layouts/footer"%>
	</div><!-- wapper -->
    <%= javascript_include_tag "home/jquery" %>
    <%= javascript_include_tag "home/bootstrap.min" %>
    <%= javascript_include_tag "home/jquery.flexslider" %>
    <%= javascript_include_tag "home/parttimebee-custom" %>
    <%= javascript_include_tag "home/ware" %>
    <%= javascript_include_tag  "home/jquery.fancybox"%>
<script>
</script>
</body>
</html>