<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Basic info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <%= stylesheet_link_tag 'home/flexslider' %>
     <%= stylesheet_link_tag 'home/bootstrap.min' %>
     <%= stylesheet_link_tag 'home/style' %>
     <%= stylesheet_link_tag 'home/select-style' %>
     <%= stylesheet_link_tag 'home/responsive' %>
     <%= stylesheet_link_tag 'medium-editor/medium-editor' %>
     <%= stylesheet_link_tag 'home/huan' %>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content='Search result page'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="post-job employer-settings">
 <%= form_for(:job, :url => {:controller => 'job', :action => 'post_job_now'}) do |f| %>
    <div class="wapper">
        <div class="tab-content">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Step 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Step 2</a></li>
                <li><a href="#tab3" data-toggle="tab">Step 3</a></li>
                <li><a href="#tab4" data-toggle="tab">Step 4</a></li>
                <li><a href="#tab5" data-toggle="tab">Step 5</a></li>
            </ul><!-- .nav tab -->
            <div class="tab-pane active" id="tab1">
               <div class="header">
                    <div class="auto-container">
                        <div class="row"> 
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">    
                                <a class="logo" href="/" title="Logo">
                                    <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">    
                                <div class="step">
                                    <h3>Step 1 : Basic Info</h3>
                                </div>
                            </div> 
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"> 
                                <div class="save-exit">
                                    <!-- <a class="waves-effect" type='submit' href="/">Save & Exit</a> -->
                                    <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                                </div>
                            </div>    
                        </div><!-- row --> 
                    </div>
                </div><!-- header-small -->
                <div class="rectangle">
                    <span style="width: 1%;"></span>
                </div><!-- .rectangle -->
                <div class="content">
                    <div class="form-container">
                            <div class="form-group">
                                <label>Job Title</label>
                                <%= f.text_field :jobtitle,:onkeyup=>"countChar(this)", :class=>"form-control" %>
                                <p class="help-block" id="charNum">100 characters left</p>
                            </div><!-- .form-group -->
                             <script>
                              function countChar(val) {
                                var len = val.value.length;
                                if (len >= 100) {
                                  val.value = val.value.substring(0, 100);
                                } else {
                                  $('#charNum').text((100 - len).toString() + ' characters left' );
                                }
                              };
                            </script>
                              <%= f.text_field :activetab, :type => "hidden", :class=>"activetab"%>
                            <div class="form-group">
                                        <label>Category Job</label>
                                        <%= select_tag :categoryjob, options_for_select(Category.where.not(category_job: 'All').all.collect{ |c| [c.category_job, c.category_job] }, :class => "form-control")%>
                            </div>
                            <div class="form-group">
                                <label>Job Description</label>
                                <%= f.text_area :description, :class=>"editable", :rows => 5, :description => true  %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>No. of vacancies</label>
                                        <%= f.number_field :vacancies, min: 1, :class=>"form-control", :placeholder => "10"  %>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Available for</label>
                                        <%= select_tag(:available_for, options_for_select([['everyone', 'everyone'], ['only female', 'only female'], ['only male', 'only male']]), :class=>"form-control" ) %>
                                    </div>
                                </div>
                            </div><!-- .form-group -->

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Age from</label>
                                        <%= select_tag :age_from, options_for_select(Age.all.collect{ |age| [age.age, age.age] }, :class => "form-control")%>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>to</label>
                                        <%= select_tag :age_to, options_for_select(Age.all.collect{ |age| [age.age, age.age] }, :class => "form-control")%>
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Job Requirement</label>
                                <%= f.text_area :requirement, :class=>"editable", :rows => 5  %>
                            </div><!-- .form-group -->
                            <div class="form-group langguage">
                                <label>Language</label>
                                <div class="checkbox">
                                  <label>
                                    <%= f.check_box :malaysia, {:class => "anyclass", :style => "anystyle" }%><span></span> Bahasa Malaysia
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <%= f.check_box :chinese, {:class => "anyclass", :style => "anystyle"}%><span></span> Chinese
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <%= f.check_box :english, {:class => "anyclass", :style => "anystyle"}%><span></span> English
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <%= f.check_box :tamin, {:class => "anyclass", :style => "anystyle"}%><span></span> Tamin
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <%= f.check_box :cantonese, {:class => "anyclass", :style => "anystyle"}%><span></span> Cantonese
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <%= f.check_box :hokkien, {:class => "anyclass", :style => "anystyle"}%><span></span> Hokkien
                                  </label>
                                </div>
                            </div><!-- .form-group -->
                            <div class="rectangle-6"></div>
                            <div class="submit">
                                <a class="btn btn-primary btnNext waves-effect">Next</a>
                            </div>
                    </div><!-- .auto-container -->
                </div><!-- .content --> 
            </div><!-- .tab-1 -->
            <div class="tab-pane" id="tab2">
               <div class="header">
                    <div class="auto-container">
                        <div class="row"> 
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">            
                                <a class="logo" href="/beetest" title="Logo">
                                     <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">        
                                <div class="step">
                                    <h3>Step 2 : Salary</h3>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"> 
                                <div class="save-exit">
                                    <!-- <a class="waves-effect" type='submit' href="/">Save & Exit</a> -->
                                    <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                                </div>
                            </div>    
                        </div><!-- row --> 
                    </div>
                </div><!-- header-small -->
                <div class="rectangle">
                    <span style="width: 25%;"></span>
                </div><!-- .rectangle -->
                <div class="content">
                    <div class="form-container">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Salary</label>
                                        <div class="ringgit"> 
                                            <%= f.text_field :salary, :class=>"form-control", :placeholder => "50" %>
                                            <span>ringgit</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label></label>
                                             <%= select_tag(:perday, 
                                            options_for_select([['per day', 'day'], ['per week', 'week'], ['per month', 'month']]), :class=>"form-control" ) %>
                                    </div>
                                </div>
                            </div><!-- .form-group -->

                            <div class="form-group">

                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Payment</label>
                                        <%= select_tag(:payment, 
                                          options_for_select([
                                            ['pay daily', 'daily'], 
                                            ['pay weekly', 'weekly'], 
                                            ['pay monthly','monthly']
                                          ]), :class=>"form-control" )%>
                                        <div class="div-radio">
                                            <label>On The Spot</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="onthespot" id="on-the-spot1" value="yes" checked ><span></span>Yes 
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="onthespot" id="on-the-spot2" value="no" ><span></span> No
                                            </label>
                                        </div>
                                        <div class="div-radio">
                                            <label>Commission</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="commission" id="commissio1" value="yes" checked><span></span> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="commission" id="commissio2" value="no" ><span></span> No
                                            </label>
                                       </div>
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Benefits</label>
                                <%= f.text_area :benefits, :class=>"editable", :rows => 5, :placeholder =>"Lunch Included, Accomodation and Transport Provided"  %>
                            </div><!-- .form-group -->
                            <div class="rectangle-6"></div>
                            <div class="submit">
                                <a class="btn btn-primary btnPrevious">Back</a>
                                <a class="btn btn-primary btnNext waves-effect">Next</a>
                            </div>
                       </form>              
                    </div><!-- .auto-container -->
                </div><!-- .content -->
            </div><!-- .tab-2 -->
            <div class="tab-pane" id="tab3">
                <div class="header">
                    <div class="auto-container">
                        <div class="row"> 
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">            
                                <a class="logo" href="/beetest" title="Logo">
                                    <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">        
                                <div class="step">
                                    <h3>Step 3 : Working Time</h3>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"> 
                                <div class="save-exit">
                                    <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                                </div>
                            </div>       
                        </div><!-- row --> 
                    </div>
                </div><!-- header-small -->
                <div class="rectangle">
                    <span style="width: 50%;"></span>
                </div><!-- .rectangle -->
                <div class="content">
                    <div class="form-container">
                            <div class="form-group working-date">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Working Date from</label>
                                        <%= f.text_field :working_date_from, :class=>"form-control", :id =>"datetimepicker4", :placeholder =>"Select Date" %> 
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>to</label>
                                        <%= f.text_field :working_date_to, :class=>"form-control", :id =>"datetimepicker5", :placeholder =>"Select Date" %> 
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group working-hour">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Working Hour from</label>
                                        <%= select_tag :working_hour_from, options_for_select(Workinghour.all.collect{ |hour| [hour.working_hour, hour.working_hour] }, :class => "form-control")%>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>to</label>
                                        <%= select_tag :working_hour_to, options_for_select(Workinghour.all.collect{ |hour| [hour.working_hour, hour.working_hour] }, :class => "form-control")%>
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="rectangle-6"></div>
                            <div class="submit">
                                <a class="btn btn-primary btnPrevious">Back</a>
                                <a class="btn btn-primary btnNext waves-effect">Next</a>
                            </div>
                    </div><!-- .auto-container -->

                </div><!-- .content -->

            </div><!-- .tab-3 -->

            <div class="tab-pane" id="tab4">
                <div class="header">
                    <div class="auto-container">
                        <div class="row"> 
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">            
                                <a class="logo" href="/beetest" title="Logo">
                                    <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">        

                                <div class="step">
                                    <h3>Step 4 : Working Location</h3>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"> 
                            <div class="save-exit">
                                <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                            </div>
                        </div>        
                        </div><!-- row --> 
                    </div>
                </div><!-- header-small -->
                <div class="rectangle">
                    <span style="width: 75%;"></span>
                </div><!-- .rectangle -->
                <div class="content">
                    <div class="form-container">
                        <h4 class="lacation">Location 1</h4>
                        <div class="form-group">
                            <label>Working Address</label>
                            <%= f.text_field :workingaddress,:class=>"form-control", :id => 'address1' %>
                            <label></label>
                            <%= f.text_field :workingaddress2, :class=>"form-control", :id => 'address2' %>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-state12">
                                    <label>State</label>
                                    <%= select_tag :state1, options_for_select(State.all.collect{ |c| [c.state, c.state] }, :class => "form-control")%>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>City</label>
                                    <%= select_tag :city1, options_for_select(City.all.collect{ |c| [c.name, c.name] }, :class => "form-control")%>
                                </div>
                            </div>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Postcode</label>
                                    <%= f.text_field :postcode, :class=>"form-control" %>     
                                </div>
                            </div>
                        </div><!-- .form-group -->
                        <div class="border-solid"></div>
                        <div class="toggle-location hidden">
                                <h4 class="lacation">Location 2</h4>
                                <div class="form-group">
                                    <label>Working Address</label>
                                    <%= f.text_field :workingaddress3,:class=>"form-control", :id => 'address3' %>
                                    <label></label>
                                    <%= f.text_field :workingaddress4, :class=>"form-control", :id => 'address4' %>
                                </div><!-- .form-group -->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-state12">
                                            <label>State</label>
                                            <%= select_tag :state2, options_for_select(State.all.collect{ |c| [c.state, c.state] }, :class => "form-control")%>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label>City</label>
                                            <%= select_tag :city2, options_for_select(City.all.collect{ |c| [c.name, c.name] }, :class => "form-control")%>
                                        </div>
                                    </div>
                                </div><!-- .form-group -->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label>Postcode</label>
                                             <%= f.text_field :postcode2, :class=>"form-control" %>     
                                        </div>
                                    </div>
                                </div><!-- .form-group -->
                                <div class="border-solid"></div>
                                </div>

                            <div class="add-location">
                                <a class="waves-effect click-location" href="#">
                                    Add Location
                                </a>
                            </div>
                            <div class="rectangle-6"></div>
                            <div class="submit">
                                <a class="btn btn-primary btnPrevious">Back</a>
                                <a class="btn btn-primary btnNext waves-effect">Next</a>
                            </div>
                    </div><!-- .auto-container -->
                </div><!-- .content -->
            </div><!-- .tab-4 -->
            <div class="tab-pane" id="tab5">
                <div class="header">
                    <div class="auto-container">
                        <div class="row"> 
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">    
                                <a class="logo" href="/beetest" title="Logo">
                                    <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"> 
                                <div class="step">
                                    <h3>Step 5 : Contact</h3>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"> 
                                <div class="save-exit">
                                    <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                                </div>
                            </div>         
                        </div><!-- row --> 
                    </div>
                </div><!-- header-small -->
                <div class="rectangle">
                    <span style="width:100%;"></span>
                </div><!-- .rectangle -->
                <div class="content">
                    <div class="form-container">
                        <div class="form-group">
                            <label>Contact Person</label>
                            <%= f.text_field :contactperson, :class=>"form-control", :placeholder => "Please Enter Your Name", :value => current_user.full_name %>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label>Way of Contact</label>
                            <%= f.text_field :wayofcontact, :class=>"form-control", :placeholder => "Mobile Number", :value => current_user.phone_number %>      
                            <label></label>
                            <%= f.text_field :wayofcontact2, :class=>"form-control", :placeholder => "Email", :value => current_user.email %>
                        </div><!-- .form-group -->
                        <div class="rectangle-6"></div>
                        <div class="submit">
                            <a class="btn btn-primary btnPrevious">Back</a>
                            <button type="submit" class="btn btn-default waves-effect">Publish</button>
                        </div>
                    </div><!-- .auto-container -->
                </div><!-- .content -->
            </div><!-- .tab-5 -->
        </div>
    </div><!-- wapper -->
<% end %>
<!-- </form> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBugY-84oCu_k9IhbeeujBxkQXjbh_GtdQ"></script>
<%= javascript_include_tag "home/jquery" %>
<%= javascript_include_tag "home/bootstrap.min" %>
<%= javascript_include_tag "home/jquery.flexslider" %>
<%= javascript_include_tag "home/jquery.validate" %>
<%= javascript_include_tag "home/moment" %>
<%= javascript_include_tag "home/bootstrap-datetimepicker" %>
<%= javascript_include_tag "home/jquery.nice-select.min" %>
<%= javascript_include_tag "home/ware" %>
<%= javascript_include_tag "home/custom" %>
<%= javascript_include_tag "medium-editor/medium-editor" %>
<%= javascript_include_tag "medium-editor/editor" %>
<script type="text/javascript">
    function get_current_tab_active(){
        var value_tab;
        value_tab = $("div.tab-pane.active")[0].id;
        $(".activetab").val(value_tab);
    }
</script>
<script>
jQuery(document).ready(function($) { 
jQuery('#datetimepicker4').datetimepicker({ 
                format: 'MM/DD/YYYY'
            });
jQuery('#datetimepicker5').datetimepicker({ 
              format: 'MM/DD/YYYY'
            });
  jQuery('.btnNext').click(function(){
      jQuery('.nav-tabs > .active').next('li').find('a').trigger('click');

    });
      jQuery('.btnPrevious').click(function(){

      jQuery('.nav-tabs > .active').prev('li').find('a').trigger('click');

    });
    jQuery(document).ready(function() {
      jQuery('select:not(.ignore)').niceSelect();      
      // FastClick.attach(document.body);
    });    
});
</script>

<script>
  var options = {
    types: ['(cities)'],
    componentRestrictions: {country: "My"}
  };
  function init() {
    var input1 = $('#address1')[0];
    var input2 = $('#address2')[0];
    var input3 = $('#address3')[0];
    var input4 = $('#address4')[0];
    new google.maps.places.Autocomplete(input1, options);
    new google.maps.places.Autocomplete(input2, options);
    new google.maps.places.Autocomplete(input3, options);
    new google.maps.places.Autocomplete(input4, options);
  }
  google.maps.event.addDomListener(window, 'load', init);
</script>
</body><!-- .search-result-page -->
</html>