<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>worker profile(full)</title>
	<!-- Stylesheets -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<!-- Responsive -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href="js/flexslider.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	 <%= stylesheet_link_tag 'home/flexslider' %>
    <%= stylesheet_link_tag 'home/bootstrap.min' %>
    <%= stylesheet_link_tag 'home/style' %>
    <%= stylesheet_link_tag 'home/responsive' %>
    <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900|Montserrat:400,700" rel="stylesheet">
</head>
<body class="employer-profile">

	<div class="wapper">
		
		<%= render "layouts/header"%>
        <div class="search-result">
			
			<div class="employer-profile-container employer-profile-banner">
				<div class="image-left">
					<!-- <img alt="popup image" src="images/popup-image.png" /> -->
					<%= image_tag "popup-image.png", alt: "popup image" %>

				</div>	
                <div class="info-right">
					<h1>John Doe</h1>
                    <span>Member since 01 Jun 2016</span>
                    <p>We need a web design for it, preferred web design style and pattern is Kickstarter(please try to sign up an account and see how their membe, clean, simple and sleek yet informative. This is how Part-time Bee's logo looks like. We need a web design for it, preferred web design style and pattern is Kickstarter(please try to sign up an account and see how their membe, clean, simple and sleek yet informative. This is how Part-time Bee's logo looks like. We need a web design for it, preferred web design style and pattern is Kickstarter(please try to sign up.</p>
				</div><!-- .employer-profile-banner -->
			</div><!-- .employer-profile-container -->

		</div><!-- .search-result -->
        <div class="content">
            <div class="employer-profile-container">
                <h2>Completed Jobs</h2>
                <div class="employer-profile-listing">
                    <ul class="employer-profile-cat">
                        <li class="job-title">Job title</li>
                        <li class="location">Location</li>
                        <li class="working-period">Working Period</li>
                    </ul>
                    <ul>
                        <li class="job-title">Front-end Developer</li>
                        <li class="location">Petaling Jaya</li>
                        <li class="working-period">1 Jun - 30 Jun</li>
                        <li class="view">
                            <a class="btn-view" href="#">View</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="job-title">Front-end Developer</li>
                        <li class="location">Petaling Jaya</li>
                        <li class="working-period">1 Jun - 30 Jun</li>
                        <li class="view">
                            <a class="btn-view" href="#">View</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="job-title">Front-end Developer</li>
                        <li class="location">Petaling Jaya</li>
                        <li class="working-period">1 Jun - 30 Jun</li>
                        <li class="view">
                            <a class="btn-view" href="#">View</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="job-title">Front-end Developer</li>
                        <li class="location">Petaling Jaya</li>
                        <li class="working-period">1 Jun - 30 Jun</li>
                        <li class="view">
                            <a class="btn-view" href="#">View</a>
                        </li>
                    </ul>
                </div><!-- .employer-profile-listing -->
                <div class="page-nav">
    				<nav aria-label="Page navigation">
    				  	<ul class="pagination pagination-lg">
    				    	<li class="sub-page-nav">
    				     		<a href="#" aria-label="Previous">
    				       			<span aria-hidden="true">&laquo;</span>
    				      		</a>
    				    	</li>
    					    <li  class="active"><a href="#">1</a></li>
    					    <li class="dot_etc"><a href="#">...</a></li>
    					    <li><a href="#">3</a></li>
    					    <li><a href="#">4</a></li>
    					    <li><a href="#">5</a></li>
    					    <li class="dot_etc"><a href="#">...</a></li>
    					    <li><a href="#">104</a></li>
    					    <li class="sub-page-nav">
    				      		<a href="#" aria-label="Next">
    				        		<span aria-hidden="true">&raquo;</span>
    				      		</a>
    				    	</li>
    				  	</ul>
    				</nav>
    			</div><!-- page-nav -->
            </div><!-- .employer-profile-container -->
        </div><!-- .content -->
        <%= render "layouts/footer"%>
	</div><!-- wapper -->
<%= javascript_include_tag "home/jquery" %>
<%= javascript_include_tag "home/bootstrap.min" %>
<%= javascript_include_tag "home/jquery.flexslider" %>
</body>
</html>