<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Employer login select</title>
	<!-- Stylesheets -->
	<!-- Responsive -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content='Search result page'/>
	<%= stylesheet_link_tag 'home/flexslider' %>
	<%= stylesheet_link_tag 'home/bootstrap.min' %>
	<%= stylesheet_link_tag 'home/style' %>
	<%= stylesheet_link_tag 'home/responsive' %>
	<%= stylesheet_link_tag 'home/huan' %>
	<link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900|Montserrat:400,700" rel="stylesheet">
</head>
<body class="employer-login-select">

	<div class="wapper">
		
		<div class="header header-logged">
			
			<div class="auto-container">
				
				<div class="row">
					
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left-header">
						
						<div class="collapse navbar-collapse col-left-menu" id="left-menu">

							<ul class="nav navbar-nav navigation">

	                            <li class="discover"><a href="#" title="Discover">Discover</a></li>
	                            <li><a href="/about-us" title="About Us">About Us</a></li>

	                        </ul><!-- nav navbar-nav -->

	                    </div><!-- left-menu -->

					</div><!-- left-header -->

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mid-header">
						
						<li><div class="logo text-center"><a href="index.html" title="Logo">
							<%= image_tag "logo.png", alt: "Logo"%>
						</a></div></li>

					</div><!-- mid-header -->

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 right-header">
                        <div class="collapse navbar-collapse col-right-menu" id="right-menu">
                            <ul class="nav navbar-nav navigation navbar-right login">
                                <li><a href="/login" class="btn btn-default navbar-btn" title="Login">Login</a></li>
                                <li class="register"><a href="/register" class="btn btn-default navbar-btn" title="Register">Register</a></li>
                            </ul><!-- nav-bar-right -->

                        </div><!-- right-menu -->  

                    </div><!-- right-header -->

				</div><!-- row -->

			</div><!-- auto-container -->

		</div><!-- header-logged -->

		<div class="search-result">
			
			<div class="auto-container box-search-result">
				<div class="hgroup">
					<h1>User Selection</h1>
				</div>		
			</div><!-- box-search-result -->

		</div><!-- .search-result -->

		<div class="content">
			
			<div class="auto-container">
                <div class="top-content">
				    <p>You haven’t select your user type yet, please choose one below.</p>
                </div><!-- .top-content -->
                <ul> 
                    <li class="candidate">
                        <div class="box-content">
                            <h2>Candidate</h2>
                            <p>For people who want to find job.</p>
                            <%= link_to "Select Candidate", {controller: "sessions", action: "select_user_type", type: "parttimer" }  %>
                        </div>
                    </li>
                    <li class="employer">
                        <div class="box-content">
                            <h2>Employer</h2>
                            <p>For people who want to post job.</p>
                            <%= link_to "Select Employer", {controller: "sessions", action: "select_user_type", type: "employer" }  %>
                        </div>
                    </li>
                </ul><!-- .row -->
			</div><!-- .container -->

		</div><!-- .content -->
		<%= render "layouts/footer"%>
	</div><!-- wapper -->
<%= javascript_include_tag "home/jquery" %>
<%= javascript_include_tag "home/bootstrap.min" %>
<%= javascript_include_tag "home/jquery.flexslider" %>
</body><!-- .search-result-page -->
</html>