<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Employer expired job</title>
	<!-- Stylesheets -->
	<!-- Responsive -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content='Search result page'/>
    <%= stylesheet_link_tag 'home/flexslider' %>
    <%= stylesheet_link_tag 'home/bootstrap.min' %>
    <%= stylesheet_link_tag 'home/style' %>
    <%= stylesheet_link_tag 'home/responsive' %>
    <%= stylesheet_link_tag 'home/jquery.fancybox' %>
	<link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900|Montserrat:400,700" rel="stylesheet">
</head>
<body class="employer-published-job-applications  employer-expired-job register-01">
	<div class="wapper">
		<%= render "layouts/header"%>
        <% @job = Job.find(params[:id]) %>
		<div class="all-jobs">
			<div class="auto-container box-all-jobs">
        <div class="container">
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">My jobs</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li><a href="#">Published jobs</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li>Front-end Developer</li>
            </ul>
          </div><!-- .breadcrumbs -->
    				<div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 item-info">	
							    <div class="option">
                    <h1 class="title">
                        <a href="#" title="Front-end Developer"><%= @job[:title]%></a>
                        <% hour = Time.zone.now.hour-@job[:created_at].hour %>
                        <% min = Time.zone.now.min - @job[:created_at].min %>
                        <% if hour < 1%>
                          <span class="time"> <%=min%> minutes ago</span>
                        <% else %>
                          <span class="time"> <%=hour%> hour ago</span>
                        <% end %>
                    </h1>
                  <div class="option-top">
    								<div class="item-note">	
    									<div class="promotion-flags">
                        <% if @job[:on_the_spot] =="yes"%>
                        	<a href="#" class="btn btn-spot" title="On The Spot">On The Spot</a>
                        <% end %>
                        <% if @job[:commission] =="yes"%>
                          <a href="#" class="btn btn-commission" title="Commission">Commission</a>
                        <% end %>
    									</div><!-- .promotion-flags -->
    								</div>
    								<div class="tag-location">
    									<div class="tag-link">	
    										<a href="#" title="Technology">
                          <%= @job[:category_job]%>          
                        </a>
    									</div>
    									<div class="location-link">
    										<a href="#" title="Petaling Jaya">
                          <%= @job[:state]%>          
                        </a>
    									</div>
    								</div><!-- .tag-location -->
                  </div><!-- .option top -->
                  <div class="option-bottom">
                    <div class="row">
                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">		
                        <div class="time-work">
                            <span>Working period: <span class="month">
                              <%= @job[:working_date_from].try(:strftime, "%d %B at %I:%M%p")%> - 
                                <%= @job[:working_date_to].try(:strftime, "%d %B at %I:%M%p")%>
                             </span></span>
                             <span>Working Hour: <span class="month">
                              <%=@job[:working_hour_from]%> am - <%= @job[:working_hour_to]%> pm
                            </span></span> 
                        </div><!-- .time work -->
                        <div class="time-work">
                        <span>Language: <span class="font-bold">
                          <% if @job[:language_Bahasa_Malaysia] == "1" %>
                            Bahasa Malaysia,
                          <% end %>
                          <% if @job[:language_Chinese] == "1" %>
                              Chinese,
                          <% end %>
                          <% if @job[:language_English] == "1" %>
                              English,
                          <% end %>
                          <% if @job[:language_Tamin] == "1" %>
                              Cantonese,
                          <% end %>
                          <% if @job[:language_Cantonese] == "1" %>
                              English,
                          <% end %>
                          <% if @job[:language_Hokkien] == "1" %>
                              Hokkien
                          <% end %>
                          </span></span>
                        </div><!-- .time work -->
                        <div class="package-link">
                          <a href="#">Open to <span class="font-bold">
                            <%=@job[:availablefor]%>
                          </span></a>
                          <a href="#"><span class="font-bold">
                            <%=@job[:vacancies]%>
                          </span> vacancies available</a>
                          <a href="#">Pay <span class="font-bold">
                            <%=@job[:payment]%>
                          </span></a>
                        </div><!-- .package -->

                        </div>
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 price">	
                        <span class="pull-right">RM<%=@job[:salary]%>/<%= @job[:per_day] %> </span>
                      </div>
                    </div><!-- .row -->
                  </div><!-- .option bottom -->

							               </div><!-- .option -->

                        </div><!-- .item-info -->

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 edit">

                            <a class="waves-effect" href="/01-all-jobs-listing/repost-job-expired/<%= @job[:id] %>">Repost</a>
                        </div>
                    </div><!-- .row -->
                </div><!-- .container -->
			</div><!-- box-search-result -->
		</div><!-- .All Jobs -->
		<div class="content">
			<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 job-details">			
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                          <div class="panel panel-default">

                            <div class="panel-heading" role="tab" id="headingOne">

                              <h2 class="panel-title">

                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                  Job Details <span></span>

                                </a>

                              </h2>

                            </div>

                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                              <div class="panel-body">
                                <h3>About the Job</h3>
                                <p><%@job[:description].html_safe%></p>
                                <h3>Job Requirement</h3>
                                <ul><%= @job[:requirements].html_safe%></ul>
                                <h3>Salary & Benefits</h3>
                                <ul><%= job[:benefits].html_safe%></ul>
                              </div>

                            </div>

                          </div>

                        </div><!-- .panel group -->

                    </div><!-- .job details -->

                </div><!-- .row -->

                <div class="row">
                    <% @awarded=Applied.where(employer_id: current_user.id, job_id: params[:id], status_job: "completed").or(Applied.where(employer_id: current_user.id, job_id: params[:id], status_job: "awarded")).all%>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 application">		
                         <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation"><a href="#tab-awarded" aria-controls="Awarded" role="tab" data-toggle="tab">Awarded <span>(
                            <%= @awarded.count %>
                            )</span></a></li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-awarded">
                                <ul class="application-list">
                                    <% @awarded.take(4).each do |apply|%>
                                    <li>
                                        <div class="avatar">
                                            <%= image_tag User.find(apply.parttimer_id).avatar,:class => 'avatar-custom-expired', :alt => "avatar-app.png"%>
                                        </div>
                                        <div class="info">
                                            <h4>
                                            <a class="fancybox" href="#inline1">
                                                <%= User.find(apply.parttimer_id).full_name%>
                                            </a>
                                            </h4>
                                            <div class="location-link">
                                                <a href="#" title="Petaling Jaya">
                                                  <%= User.find(apply.parttimer_id).preferred_working_location1%>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="awarded"><a href="#">Awarded</a></div>
                                      </li>
                                      <% end %>
                                </ul>

                            </div><!-- .tab-awarded -->

                          </div><!-- .tab content -->

                          <div id="inline1" style="display: none;">
                            <div class="profile-popup">
                              <div class="popup-content">
                                <div class="popup-image">
                                  <% if Profile.where(user_id: @user.id).count.positive?%>
                                    <% @profile = Profile.where(user_id: @user.id).first%>
                                  <% if @profile.company_logo_file_name != nil%>
                                    <%= image_tag @profile.company_logo.url, alt: "use", :class => "avatar-custom" %>
                                  <% else %>
                                    <%= image_tag "default-avatar.png", alt: "use", :class => "avatar-custom" %>
                                  <% end %>
                                  <% else %>
                                    <%= image_tag "default-avatar.png", alt: "use", :class => "avatar-custom" %>
                                  <% end %>
                                </div>
                                <div class="popup-info">
                                  <h4><%= @user[:full_name]%></h4>
                                  <span>Selangor, Kepong</span>
                                  <span>Member since <%= @user[:created_at].strftime("%d %B %Y")%></span>
                                </div>
                                <!-- Count completed jobs -->
                                <% @count_complete_jobs = Applied.where(status_job: "completed").count%>
                                <div class="jobs-available">
                                  <span><%= job[:vacancies] %></span>
                                  <h5>Completed Jobs</h5>
                                </div>
                                  <% if Profile.where(user_id: job[:user_id]).count > 0 %>
                                  <% @profile = Profile.where(user_id: job[:user_id]).first%>
                                  <div>
                                  <p>
                                    <% if @profile[:company_bio] != nil%>
                                      <%= @profile[:company_bio].html_safe%>
                                    <% end %>
                                  </p>
                                  </div>
                                  <% end %>
                                  <div class="btn-popup">
                                    <a class="waves-effect" href="/05-profile-00-01/<%=@employer_id%>">See Full Profile</a>
                                  </div>
                              </div><!-- .popup body-->
                            </div><!-- .popup -->
                          </div>
                          
                          <div class="load-more">
                            <a  class="waves-effect"title="Load More" href="#">Load More</a>
                          </div>
                    </div><!-- .application -->
                </div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .content -->
		<%= render "layouts/footer"%>
	</div><!-- wapper -->
<%= javascript_include_tag "home/jquery" %>
<%= javascript_include_tag "home/bootstrap.min" %>
<%= javascript_include_tag "home/jquery.flexslider" %>
<%= javascript_include_tag "home/ware" %>
<%= javascript_include_tag "home/jquery.fancybox" %>
<%= javascript_include_tag "home/parallax" %>
<%= javascript_include_tag "home/parttimebee-custom" %>
<%= javascript_include_tag "home/jquery.countdown" %>
<%= render 'layouts/verify_phone_2_step.html.erb'%>
</body><!-- .search-result-page -->

</html>