<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Basic info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <%= stylesheet_link_tag 'home/flexslider' %>
     <%= stylesheet_link_tag 'home/bootstrap.min' %>
     <%= stylesheet_link_tag 'home/style' %>
     <%= stylesheet_link_tag 'home/select-style' %>
     <%= stylesheet_link_tag 'home/responsive' %>
     <%= stylesheet_link_tag 'medium-editor/medium-editor' %>
     <%= stylesheet_link_tag 'home/huan' %>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content='Search result page'/>
</head>
<body class="post-job employer-settings">
    <% @job = Job.find(params[:id]) %>
    <% if @job[:current_tab_active] == "tab1" %>
      <%= render 'layouts/draft_job/draft_job_tab1'%>
    <% end %>
    <% if @job[:current_tab_active] == "tab2" %>
      <%= render 'layouts/draft_job/draft_job_tab2'%>
    <% end %>
    <% if @job[:current_tab_active] == "tab3" %>
      <%= render 'layouts/draft_job/draft_job_tab3'%>
    <% end %>
    <% if @job[:current_tab_active] == "tab4" %>
      <%= render 'layouts/draft_job/draft_job_tab4'%>
    <% end %>
    <% if @job[:current_tab_active] == "tab5" %>
      <%= render 'layouts/draft_job/draft_job_tab5'%>
    <% end %>
<!-- </form> -->
<%= javascript_include_tag "home/jquery" %>
<%= javascript_include_tag "home/bootstrap.min" %>
<%= javascript_include_tag "home/jquery.flexslider" %>
<%= javascript_include_tag "home/jquery.validate" %>
<%= javascript_include_tag "home/moment" %>
<%= javascript_include_tag "home/bootstrap-datetimepicker" %>
<%= javascript_include_tag "home/jquery.nice-select.min" %>
<%= javascript_include_tag "home/ware" %>
<%= javascript_include_tag "home/custom" %>
<%= javascript_include_tag "medium-editor/medium-editor" %>
<script type="text/javascript">
    $(document).ready(function() {
        var select = "<option>Select City</option>";
        var Johor = "<option>Batu Pahat</option><option>Johor Bahru</option><option>Kluang</option><option>Kota Tinggi</option><option>Kulai</option><option>Mersing</option><option>Muar</option><option>Pontian</option><option>Segamat</option><option>Tangkak</option>";
        var Kedah = "<option>Baling</option><option>Bandar Baharu</option><option>Kota Setar</option><option>Kuala Muda</option><option>Kubang Pasu</option><option>Kulim</option><option>Langkawi</option><option>Padang Terap</option><option>Pendang</option><option>Pokok Sen</option><option>Sik</option><option>Yan</option>";
        var Kelantan = "<option>Bachok</option><option>Gua Musang</option><option>Jeli</option><option>Kota Bharu</option><option>Kuala Krai</option><option>Machang</option><option>Pasir Mas</option><option>Pasir Puteh</option><option>Tanah Merah </option><option>Tumpat</option>";
        var KualaLumpur = "<option>Bandar Tun Razak</option><option>Batu</option><option>Bukit Bintang</option><option>Cheras</option><option>Kepong</option><option>Lembah Pantai</option><option>Segambut</option><option>Seputeh</option><option>Setiawangsa</option><option>Titiwangsa</option><option>Wangsa Maju</option>";
        var Labuan = "<option>Batu Arang</option><option>Batu Manikar</option><option>Bebuloh</option><option>Belukut</option><option>Bukit Kalam</option><option>Bukit Kuda</option><option>Durian Tunjung</option><option>Ganggarak / Merinding</option><option>Gersik / Saguking / Jawa / Parit</option><option>Kilan / Kilan Pulau Akar</option><option>Lajau</option><option>Layang-Layangan</option><option>Lubok Temiang</option><option>Nagalang / Kerupang</option><option>Pantai</option><option>Patau-Patau 1</option><option>Patau-Patau 2</option><option>Pohon Batu</option><option>Rancha-Rancha</option><option>Sungai Bangat</option><option>Sungai Bedaun / Sungai Sembilang</option><option>Sungai Buton</option><option>Sungai Keling</option><option>Sungai Labu</option><option>Sungai Lada</option><option>Sungai Miri / Pagar</option><option>Tanjung Aru</option>";
        var Melaka = "<option>Alor Gajah</option><option>Central Malacca</option><option>Jasin</option>";
        var NegeriSembilan = "<option>Jelebu</option><option>Jempol</option><option>Kuala Pilah</option><option>Port Dickson</option><option>Rembau</option><option>Seremban</option><option>Tampin</option>";
        var Pahang = "<option>Bentong</option><option>Bera</option><option>Cameron Highlands</option><option>Jerantut</option><option>Kuantan</option><option>Lipis</option><option>Maran</option><option>Pekan</option><option>Raub</option><option>Rompin</option><option>Temerloh</option>";
        var Perak = "<option>Bagan Datuk</option><option>Batang Padang</option><option>Hilir Perak</option><option>Hulu Perak</option><option>Kampar</option><option>Kerian</option><option>Kinta</option><option>Kuala Kangsar</option><option>Larut, Matang and Selama</option><option>Manjung</option><option>Muallim</option><option>Perak Tengah</option>";
        var Perlis = "";
        var PulauPinang = "<option>Central Seberang Perai</option><option>North Seberang Perai</option><option>Northeast Penang Island</option><option>South Seberang Perai</option><option>Southwest Penang Island</option>";
        var Putrajaya = "";
        var Sabah = "<option>Beaufort</option><option>Beluran</option><option>Keningau</option><option>Kinabatangan</option><option>Kota Belud</option><option>Kota Kinabalu</option><option>Kota Marudu</option><option>Kuala Penyu</option><option>Kudat</option><option>Kunak</option><option>Lahad Datu</option><option>Municipality of Sandakan</option><option>Municipality of Tawau</option><option>Nabawan</option><option>Papar</option><option>Penampang</option><option>Pitas</option><option>Putatan</option><option>Ranau</option><option>Semporna</option><option>Sipitang</option><option>Tambunan</option><option>Tenom</option><option>Tongod</option><option>Tuaran</option>";
        var Sarawak = "<option>Asajaya</option><option>Bau</option><option>Belaga</option><option>Beluru</option><option>Betong</option><option>Bintulu</option><option>Bukit Mabong</option><option>Dalat</option><option>Daro</option><option>Julau</option><option>Kabong</option><option>Kapit</option><option>Kanowit</option><option>Kuching</option><option>Lawas</option><option>Limbang</option><option>Lubok Antu</option><option>Lundu</option><option>Marudi</option><option>Matu</option><option>Meradong</option><option>Miri</option><option>Mukah</option><option>Pakan</option><option>Pusa</option><option>Samarahan</option><option>Saratok</option><option>Sarikei</option><option>Sebauh</option><option>Selangau</option><option>Serian</option><option>Sibu</option><option>Simunjan</option><option>Song</option><option>Sri Aman</option><option>Subis</option><option>Tanjung Manis</option><option>Tatau</option><option>Tebedu</option><option>Telang Usan</option>";
        var Selangor = "<option>Gombak</option><option>Hulu Langat</option><option>Hulu Selangor</option><option>Klang</option><option>Kuala Langat</option><option>Kuala Selangor</option><option>Petaling</option><option>Sabak Bernam</option><option>Sepang</option>";
        var Terengganu = "<option>Besut</option><option>Dungun</option><option>Hulu Terengganu</option><option>Kemaman</option><option>Kuala Nerus</option><option>Kuala Terengganu</option><option>Marang</option><option>Setiu</option>";     
            $("#city").html(select);
            $("#region").change(function() {
            var selected = $(this).val();
            $("#city").show();
            if (selected == 'Johor') {
                $("#city").html(Johor);
            }
            if (selected == 'Kedah') {
                $("#city").html(Kedah);
            }
            if (selected == 'Kelantan') {
                $("#city").html(Kelantan);
            }
            if (selected == 'Kuala Lumpur') {
                $("#city").html(KualaLumpur);
            }
            if (selected == 'Labuan') {
                $("#city").html(Labuan);
            }
            if (selected == 'Melaka') {
                $("#city").html(Melaka);
            }
            if (selected == 'Negeri Sembilan') {
                $("#city").html(NegeriSembilan);
            }
            if (selected == 'Pahang') {
                $("#city").html(Pahang);
            }
            if (selected == 'Perak') {
                $("#city").html(Perak);
            }
            if (selected == 'Perlis') {
                $("#city").html(Perlis);
            }
            if (selected == 'Pulau Pinang') {
                $("#city").html(PulauPinang);
            }
            if (selected == 'Putrajaya') {
                $("#city").html(Putrajaya);
            }
            if (selected == 'Sabah') {
                $("#city").html(Sabah);
            }
            if (selected == 'Sarawak') {
                $("#city").html(Sarawak);
            }
            if (selected == 'Selangor') {
                $("#city").html(Selangor);
            }
            if (selected == 'Terengganu') {
                $("#city").html(Terengganu);
            }
            if (selected == 'Select State') {
                $("#city").html(select);
            }
            $("div.removeclass").remove();
        });
            $("#city2").html(select);
            $("#region2").change(function() {
            var selected2 = $("#region2").val();
            $("#city2").show();
            if (selected2 == 'Johor') {
                $("#city2").html(Johor);
            }
            if (selected2 == 'Kedah') {
                $("#city2").html(Kedah);
            }
            if (selected2 == 'Kelantan') {
                $("#city2").html(Kelantan);
            }
            if (selected2 == 'Kuala Lumpur') {
                $("#city2").html(KualaLumpur);
            }
            if (selected2 == 'Labuan') {
                $("#city2").html(Labuan);
            }
            if (selected2 == 'Melaka') {
                $("#city2").html(Melaka);
            }
            if (selected2 == 'Negeri Sembilan') {
                $("#city2").html(NegeriSembilan);
            }
            if (selected2 == 'Pahang') {
                $("#city2").html(Pahang);
            }
            if (selected2 == 'Perak') {
                $("#city2").html(Perak);
            }
            if (selected2 == 'Perlis') {
                $("#city2").html(Perlis);
            }
            if (selected2 == 'Pulau Pinang') {
                $("#city2").html(PulauPinang);
            }
            if (selected2 == 'Putrajaya') {
                $("#city2").html(Putrajaya);
            }
            if (selected2 == 'Sabah') {
                $("#city2").html(Sabah);
            }
            if (selected2 == 'Sarawak') {
                $("#city2").html(Sarawak);
            }
            if (selected2 == 'Selangor') {
                $("#city2").html(Selangor);
            }
            if (selected2 == 'Terengganu') {
                $("#city2").html(Terengganu);
            }
            if (selected2 == 'Select State') {
                $("#city2").html(select);
            }
            $("div.removeclass2").remove();
        });
    });
</script>

<script type="text/javascript">
    function get_current_tab_active(){
        var value_tab;
        value_tab = $("div.tab-pane.active")[0].id;
        $(".activetab").val(value_tab);
    }
</script>
<script type="text/javascript">
                                    var editor = new MediumEditor('.editable', {
                                        toolbar: {
                                            /* These are the default options for the toolbar,
                                               if nothing is passed this is what is used */
                                            allowMultiParagraphSelection: true,
                                            buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3','unorderedlist'],
                                            diffLeft: 0,
                                            diffTop: -10,
                                            firstButtonClass: 'medium-editor-button-first',
                                            lastButtonClass: 'medium-editor-button-last',
                                            relativeContainer: null,
                                            standardizeSelectionStart: false,
                                            static: false,
                                            /* options which only apply when static is true */
                                            align: 'center',
                                            sticky: false,
                                            updateOnEmptySelection: false
                                        }
                                    });
                                </script>
<script>
jQuery(document).ready(function($) { 
jQuery('#datetimepicker4').datetimepicker({ 
                format: 'MM/DD/YYYY'
            });
jQuery('#datetimepicker5').datetimepicker({ 
              format: 'MM/DD/YYYY'
            });
  jQuery('.btnNext').click(function(){
      jQuery('.nav-tabs > .active').next('li').find('a').trigger('click');

    });
      jQuery('.btnPrevious').click(function(){

      jQuery('.nav-tabs > .active').prev('li').find('a').trigger('click');

    });
    jQuery(document).ready(function() {
      jQuery('select:not(.ignore)').niceSelect();      
      FastClick.attach(document.body);
    });    
});
</script>

</body><!-- .search-result-page -->

</html>