
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home page</title>
  <%= stylesheet_link_tag 'home/bootstrap.min' %>
  <%= stylesheet_link_tag 'home/jquery.fancybox' %>
  <%= stylesheet_link_tag 'home/select-style' %>
  <%= stylesheet_link_tag 'home/style' %>
  <%= stylesheet_link_tag 'home/flexslider' %>
  <%= stylesheet_link_tag 'home/responsive' %>
    <%= stylesheet_link_tag 'home/huan' %>
  <%= stylesheet_link_tag 'home/chosen.min' %>
  <%= stylesheet_link_tag 'dropify/dropify' %>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900|Montserrat:400,700" rel="stylesheet"> 
</head>
<body class="register-01">
  <div class="wapper">
    <%= render "layouts/header"%>
    <div class="home-banner-section">
      <h1 class="text-center home-banner-title">Your Destination To Choose Active and Skilled Talents</h1>
    </div>
    <div class="home-top-section content"> 
      <div class="home-second-section"> 
        <div class="container">
          <h3 class='title-section text-center'>Use Our Micro-targeting features to reach the right talents</h3>
          <div class="row">
            <div class="col-sm-6 col-md-4 text-center  animate fadeInUp one reach-box">
              <div class="thumbnail">
                <!-- <img src="images/popup-image.png" alt="..."> -->
                <%= image_tag "popup-image.png"%>
                <div class="caption">
                  <h3>Explore passive talents</h3>
                  <p>Not just active talents, you can gain access to passive talents as well from our database. We will help you in finding the right talent. Irrespective of whether you look for a talent for a temporary position or permanent position, this is your right destination to find one.</p> 
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 text-center  animate fadeInUp one reach-box">
              <div class="thumbnail">
                <%= image_tag "popup-image.png"%>
                <div class="caption">
                  <h3>Excellent platform</h3>
                  <p>We are here to provide the excellent platform both for employers and job seekers. If you are a job seeker, looking for the best job to meet your needs either on a short-term or on a long-term basis, you can find one in this platform</p> 
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 text-center  animate fadeInUp one reach-box">
              <div class="thumbnail">
                <%= image_tag "popup-image.png"%>
                <div class="caption">
                  <h3>Easy to use</h3>
                  <p>You can get started to work with us within just a few minutes of sign up time. All we need from you is to you is to know about your key positions if you are an employer. If you are a job seeker, just share details about your talents. Our team will work with you to meet your requirements rightly.</p> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-third-section">
        <div id="content_box">
          <div class="cd-background-wrapper"> 
            <ul class="staff-list">
              <li  class="layer" data-depth="0.2">
                <span class="hexa" >&#x2B22;</span>
                <span class="hexa1" >&#x2B22;</span> 
                <span class="hexa2" >&#x2B22;</span> 
                <span class="hexa3" >&#x2B22;</span> 
                <span class="hexa4" >&#x2B22;</span> 
                <span class="hexa5" >&#x2B22;</span> 
                <span class="hexa6" >&#x2B22;</span> 
                <span class="hexa7" >&#x2B22;</span> 
              </li>
            </ul>
          </div> 
          <div class="container home-third-content">
            <h3 class='title-section text-center'>Find talents or jobs in any of the 15 categories below</h3>
            <p class="sub-title-section text-center">8 categories. Thousands of jobs.</p>
            <div class="row">
              <div class="col-sm-6 col-md-3 box">
                <div class="box-content">
                  <p>Food & Beverages</p>
                </div>
              </div>  
              <div class="col-sm-6 col-md-3 box">
                <div class="box-content">
                  <p>BD</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 box">
                <div class="box-content">
                  <p>Administrative</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 box">
                <div class="box-content">
                  <p>Design</p>
                </div>  
              </div>
              <div class="col-sm-6 col-md-3 box">
                <div class="box-content">
                  <p>Fashion</p>
                </div>
              </div>  
              <div class="col-sm-6 col-md-3 box">
                <div class="box-content">
                  <p>Cinema and Video</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 box">
                <div class="box-content">
                  <p>Games</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 box">
                <div class="box-content">
                  <p>Journalism</p>
                </div>  
              </div>
            </div>
           </div>
        </div>
      </div>
      <div class='home-four-section'>
        <div class="container">
          <div class='get-started-section text-center'>
            <div class="title-btn">
              <h3 class='title-section text-center'>Ready to Get Started?</h3>
              <p class="sub-title-section text-center">We triple-check candidates to ensure quality! Just start with confidence.</p>
              <p><a href="/register" class="waves-effect fancybox">Register now</a></p>
            </div>
            <div class="partner-logo">
              <ul>
                <li><%= image_tag "logo_p1.png" %></li>
                <li><%= image_tag "logo_p2.png" %></li>
                <li><%= image_tag "logo_p3.png" %></li>
                <li><%= image_tag "logo_p4.png" %></li>
                
              </ul>
              <p>17,000 customers and counting. Helping the very best web and mobile businesses communicate with their customers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <%= render "layouts/footer"%>
  </div><!-- wapper -->
<% if current_user != nil %>
<% if current_user.type_user == "employer" %>
  <div id="hidden-employer" style="display:none; width: 570px;">
    <%= form_for(:completeprofile, html: {:multipart => true}, :url => {:controller => 'home', :action => 'complete_profile_employer'}) do |f| %>
    <div class="tab-content">   
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Step 1</a></li>
            <li><a href="#tab2" data-toggle="tab">Step 2</a></li>
            <li><a href="#tab3" data-toggle="tab">Step 3</a></li>
            <li><a href="#tab4" data-toggle="tab">Step 4</a></li>
            <li><a href="#tab5" data-toggle="tab">Step 5</a></li>
        </ul>
        <div class="tab-pane active" id="tab1">
            <div class="register-content">
                <div class="step-title">
                    <h3>Tell us a little about you…</h3>
                    <p>1. Upload your photo</p>
                </div><!-- .step-title -->
                <div class="rectangle">
                    <span style="width: 1%;"></span>
                </div>
                
                <div class="register-form">
                     <div class="form-group">
                                <% if Profile.where(user_id: session[:user_id]).count.positive?%>
                                    <% @profile = Profile.find(session[:user_id]) %>
                                    <% if @profile.company_logo_file_name != nil %>
                                    <% @logo = @profile.company_logo.url %>
                                    <%= f.file_field :companylogo,:class  => "dropify Input-Field", :accept => "image/*", :"data-height" => "100",:"data-default-file" => @logo.slice(0..(@logo.index('g?'))), :"data-width" => "510"%>
                                    <% end %>
                                <% if @profile.company_logo_file_name == nil %>
                                <%= f.file_field :companylogo,:class  => "dropify Input-Field", :accept => "image/*", :"data-height" => "100", :"data-width" => "510"%>
                                <% end%> 
                                <% else %>
                                    <%= f.file_field :companylogo,:class  => "dropify Input-Field", :accept => "image/*", :"data-height" => "100", :"data-width" => "510"%> 
                                <% end %>  
                      </div>
                      <p>Please choose a 500 x 500 pixels company profile picture.</p>
                      <p>Click next if you want remain using this photo as your company profile picture.</p>
                      <div class="submit">
                            <a class="btn btn-primary btnNext waves-effect">Next</a>
                        </div>
                    
                </div><!-- .register-form -->
            </div>
        </div><!-- .tab-1 -->
        <div class="tab-pane" id="tab2">
            <div class="register-content">
                <div class="step-title">
                    <h3>Tell us a little about you…</h3>
                    <p>2. Enter your company basic info</p>
                </div><!-- .step-title -->
                <div class="rectangle">
                    <span style="width: 33%;"></span>
                </div>
                <div class="register-form">
                         <div class="form-group">
                            <label>Company Name</label>
                             <%= f.text_field :companyname, :class=>"form-control"%>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label>Headline(e.g. Internet and computer software)</label>
                             <%= f.text_field :headline, :class=>"form-control"%>
                        </div><!-- .form-group -->
                         <div class="form-group">
                                <label>Short Description of Your Company</label>
                                <%= f.text_area :description, :class=>"form-control", :rows => 5 %>
                            </div><!-- .form-group -->
                        <div class="form-group">
                            <label>Company Size</label>
                            <div class="styled-select slate">
                                 <%= select_tag(:companysize, 
                                            options_for_select([ 
                                                                ['1 Employee', '1 Employee'], 
                                                                ['2 Employees', '2 Employees'],
                                                                ['3 Employees', '3 Employees'],
                                                                ['4 Employees','4 Employees'],
                                                                ['5 Employees','5 Employees'],
                                                                ['6 Employees','6 Employees'],
                                                                ['7 Employees','7 Employees'],
                                                                ['8 Employees','8 Employees'],
                                                                ['9 Employees','9 Employees'],
                                                                ['10 Employees','10 Employees']
                                                                ]), :class=>"form-control" ) %>
                            </div>
                        </div><!-- .form-group -->
                        <div class="submit">
                            <a class="btn btn-primary btnPrevious">Back</a>
                            <a class="btn btn-primary btnNext waves-effect">Next</a>
                        </div>
                </div><!-- .register-form -->
            </div><!-- .rectangle -->
        </div><!-- .tab-2 -->
         <div class="tab-pane" id="tab3">
            <div class="register-content">
                <div class="step-title">
                    <h3>Tell us a little about you…</h3>
                    <p>3. Enter your company contact</p>
                </div><!-- .step-title -->
                <div class="rectangle">
                    <span style="width: 66%;"></span>
                </div>
                <div class="register-form">
                        <div class="form-group">
                            <label>Company Address</label>
                             <%= f.text_field :companyaddress, :class=>"form-control"%>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label>Company Email</label>
                             <%= f.text_field :companyemail, :class=>"form-control"%>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label>Company Contact</label>
                             <%= f.text_field :companycontact, :class=>"form-control"%>
                        </div><!-- .form-group -->
                         <div class="submit">
                            <a class="btn btn-primary btnPrevious">Back</a>
                            <button type="submit" class="btn btn-default waves-effect">Save</button>
                        </div>
                </div><!-- .register-form -->
            </div><!-- .rectangle -->
        </div><!-- .tab-3 -->
    </div><!-- .tab-content -->
  <% end %>
</div>
<% end %>
<% if current_user.type_user == "parttimer"%>
<div id="hidden-parttimer" style="display:none; width: 570px;">
    <%= form_for(:completeprofile, html: {:multipart => true}, :url => {:controller => 'home', :action => 'complete_profile_parttimer'}) do |f| %>
    <div class="tab-content">   
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Step 1</a></li>
            <li><a href="#tab2" data-toggle="tab">Step 2</a></li>
            <li><a href="#tab3" data-toggle="tab">Step 3</a></li>
            <li><a href="#tab4" data-toggle="tab">Step 4</a></li>
            <li><a href="#tab5" data-toggle="tab">Step 5</a></li>
        </ul>
        <div class="tab-pane active" id="tab1">
            <div class="register-content">
                <div class="step-title">
                    <h3>Tell us a little about you…</h3>
                    <p>1. Upload your photo</p>
                </div><!-- .step-title -->
                <div class="rectangle">
                    <span style="width: 1%;"></span>
                </div>
                
                <div class="register-form">
                     <div class="form-group">
                                <% if current_user.avatar_file_name == nil %>
                                <%= f.file_field :avatar,:class  => "dropify Input-Field", :accept => "image/*", :"data-height" => "100", :"data-width" => "510"%>
                                <% end %>
                                <% if current_user.avatar_file_name != nil %>
                                <% @logo = current_user.avatar.url %>
                                <%= f.file_field :avatar,:class  => "dropify Input-Field", :accept => "image/*", :"data-default-file" => @logo.slice(0..(@logo.index('g?'))), :"data-height" => "100", :"data-width" => "510"%>
                                <% end %>           
                      </div>
                      <p>Please choose a 500 x 500 pixels company profile picture.</p>
                      <p>Click next if you want remain using this photo as your company profile picture.</p>
                      <div class="submit">
                            <a class="btn btn-primary btnNext waves-effect">Next</a>
                        </div>
                    
                </div><!-- .register-form -->
            </div>
        </div><!-- .tab-1 -->
        <div class="tab-pane" id="tab3">
            <div class="register-content">
                <div class="step-title">
                    <h3>Tell us a little about you…</h3>
                    <p>2. Enter your basic info</p>
                </div><!-- .step-title -->
                <div class="rectangle">
                    <span style="width: 33%;"></span>
                </div>
                <div class="register-form">
                         <div class="form-group">
                            <label>Your Date of Birth</label>
                             <%= f.text_field :dayofbirth, :class=>"form-control", :placeholder => "DD/MM/YYYY"%>
                        </div><!-- .form-group -->
                        <div class="form-group chosen-select">
                            <label>Nationality</label>
                            <div class="styled-select">
                             
                             <%= select_tag(:nationality, 
                                            options_for_select([['-- select one --', '-- select one --'], 
                                                                ['Malaysian', 'Malaysian'],
                                                                ['Afghan', 'Afghan'], 
                                                                ['Albanian', 'Albanian'],
                                                                ['Algerian', 'Algerian'],
                                                                ['American', 'American'],
                                                                ['Andorran', 'Andorran'],
                                                                ['Angolan', 'Angolan'],
                                                                ['Antiguans', 'Antiguans'],
                                                                ['Argentinean', 'Argentinean'],
                                                                ['Armenian', 'Armenian'],
                                                                ['Australian', 'Australian'],
                                                                ['Austrian', 'Austrian'],
                                                                ['Azerbaijani', 'Azerbaijani'],
                                                                ['Bahamian', 'Bahamian'],
                                                                ['Bahraini', 'Bahraini'],
                                                                ['Bangladeshi', 'Bangladeshi'],
                                                                ['Barbudans', 'Barbudans'],
                                                                ['Batswana', 'Batswana'],
                                                                ['Belarusian', 'Belarusian'],
                                                                ['Belgian', 'Belgian'],
                                                                ['Belizean', 'Belizean'],
                                                                ['Beninese', 'Beninese'],
                                                                ['Bhutanese', 'Bhutanese'],
                                                                ['Bolivian', 'Bolivian'],
                                                                ['Bosnian', 'Bosnian'],
                                                                ['Brazilian', 'Brazilian'],
                                                                ['British', 'British'],
                                                                ['Bruneian', 'Bruneian'],
                                                                ['Bulgarian', 'Bulgarian'],
                                                                ['Burkinabe', 'Burkinabe'],
                                                                ['Burmese', 'Burmese'],
                                                                ['Burundian', 'Burundian'],
                                                                ['Cambodian', 'Cambodian'],
                                                                ['Cameroonian', 'Cameroonian'],
                                                                ['Canadian', 'Canadian'],
                                                                ['Cape Verdean', 'Cape Verdean'],
                                                                ['Central African', 'Central African'],
                                                                ['Chadian', 'Chadian'],
                                                                ['Chilean', 'Chilean'],
                                                                ['Chinese', 'Chinese'],
                                                                ['Colombian', 'Colombian'],
                                                                ['Comoran', 'Comoran'],
                                                                ['Congolese', 'Congolese'],
                                                                ['Costa Rican', 'Costa Rican'],
                                                                ['Croatian', 'Croatian'],
                                                                ['Cuban', 'Cuban'],
                                                                ['Cypriot', 'Cypriot'],
                                                                ['Czech', 'Czech'],
                                                                ['Danish','Danish'],
                                                                ['Djibouti','Djibouti'],
                                                                ['Dominican', 'Dominican'],
                                                                ['Dutch', 'Dutch'],
                                                                ['East Timorese', 'East Timorese'],
                                                                ['Ecuadorean', 'Ecuadorean'],
                                                                ['Egyptian','Egyptian'],
                                                                ['Emirian','Emirian'],
                                                                ['Equatorial Guinean', 'Equatorial Guinean'],
                                                                ['Eritrean', 'Eritrean'],
                                                                ['Estonian', 'Estonian'],
                                                                ['Ethiopian', 'Ethiopian'],
                                                                ['Fijian','Fijian'],
                                                                ['Filipino','Filipino'],
                                                                ['Finnish', 'Finnish'],
                                                                ['French', 'French'],
                                                                ['Gabonese', 'Gabonese'],
                                                                ['Gambian','Gambian'],
                                                                ['Georgian','Georgian'],
                                                                ['German', 'German'],
                                                                ['Ghanaian', 'Ghanaian'],
                                                                ['Greek', 'Greek'],
                                                                ['Grenadian','Grenadian'],
                                                                ['Guatemalan','Guatemalan'],
                                                                ['Guinea-Bissauan', 'Guinea-Bissauan'],
                                                                ['Guinean', 'Guinean'],
                                                                ['Guyanese', 'Guyanese'],
                                                                ['Haitian','Haitian'],
                                                                ['Herzegovinian','Herzegovinian'],
                                                                ['Honduran', 'Honduran'],
                                                                ['Hungarian', 'Hungarian'],
                                                                ['Icelander', 'Icelander'],
                                                                ['Indian','Indian'],
                                                                ['Indonesian','Indonesian'],
                                                                ['Iranian', 'Iranian'],
                                                                ['Iraqi', 'Iraqi'],
                                                                ['Irish', 'Irish'],
                                                                ['Israeli','Israeli'],
                                                                ['Ivorian', 'Ivorian'],
                                                                ['Jamaican', 'Jamaican'],
                                                                ['Japanese', 'Japanese'],
                                                                ['Jordanian','Jordanian'],
                                                                ['Kazakhstani','Kazakhstani'],
                                                                ['Kenyan', 'Kenyan'],
                                                                ['Kittian and Nevisian', 'Kittian and Nevisian'],
                                                                ['Kuwaiti', 'Kuwaiti'],
                                                                ['Kyrgyz','Kyrgyz'],
                                                                ['Laotian','Laotian'],
                                                                ['Latvian', 'Latvian'],
                                                                ['Lebanese', 'Lebanese'],
                                                                ['Liberian', 'Liberian'],
                                                                ['Libyan','Libyan'],
                                                                ['Liechtensteiner','Liechtensteiner'],
                                                                ['Lithuanian', 'Lithuanian'],
                                                                ['Luxembourger', 'Luxembourger'],
                                                                ['Macedonian', 'Macedonian'],
                                                                ['Malagasy','Malagasy'],
                                                                ['Malawian','Malawian'],
                                                                ['Maldivan', 'Maldivan'],
                                                                ['Malian', 'Malian'],
                                                                ['Maltese','Maltese'],
                                                                ['Marshallese','Marshallese'],
                                                                ['Mauritanian', 'Mauritanian'],
                                                                ['Mauritian', 'Mauritian'],
                                                                ['Mexican', 'Mexican'],
                                                                ['Micronesian','Micronesian'],
                                                                ['Moldovan','Moldovan'],
                                                                ['Monacan', 'Monacan'],
                                                                ['Mongolian', 'Mongolian'],
                                                                ['Moroccan', 'Moroccan'],
                                                                ['Mosotho','Mosotho'],
                                                                ['Motswana','Motswana'],
                                                                ['Mozambican', 'Mozambican'],
                                                                ['Namibian', 'Namibian'],
                                                                ['Nauruan', 'Nauruan'],
                                                                ['Nepalese','Nepalese'],
                                                                ['New Zealander','New Zealander'],
                                                                ['Ni-Vanuatu', 'Ni-Vanuatu'],
                                                                ['Nicaraguan', 'Nicaraguan'],
                                                                ['Nigerien', 'Nigerien'],
                                                                ['North Korean','North Korean'],
                                                                ['Northern Irish','Northern Irish'],
                                                                ['Norwegian', 'Norwegian'],
                                                                ['Omani', 'Omani'],
                                                                ['Pakistani', 'Pakistani'],
                                                                ['Palauan','Palauan'],
                                                                ['Panamanian','Panamanian'],
                                                                ['Papua New Guinean', 'Papua New Guinean'],
                                                                ['Paraguayan', 'Paraguayan'],
                                                                ['Peruvian', 'Peruvian'],
                                                                ['Polish','Polish'],
                                                                ['Portuguese','Portuguese'],
                                                                ['Qatari', 'Qatari'],
                                                                ['Romanian', 'Romanian'],
                                                                ['Russian', 'Russian'],
                                                                ['Rwandan','Rwandan'],
                                                                ['Saint Lucian','Saint Lucian'],
                                                                ['Salvadoran', 'Salvadoran'],
                                                                ['Samoan', 'Samoan'],
                                                                ['San Marinese', 'San Marinese'],
                                                                ['Sao Tomean','Sao Tomean'],
                                                                ['Saudi','Saudi'],
                                                                ['Scottish', 'Scottish'],
                                                                ['Senegalese', 'Senegalese'],
                                                                ['Serbian', 'Serbian'],
                                                                ['Seychellois','Seychellois'],
                                                                ['Sierra Leonean','Sierra Leonean'],
                                                                ['Singaporean', 'Singaporean'],
                                                                ['Slovakian', 'Slovakian'],
                                                                ['Slovenian', 'Slovenian'],
                                                                ['Solomon Islander','Solomon Islander'],
                                                                ['Somali','Somali'],
                                                                ['South African', 'South African'],
                                                                ['South Korean', 'South Korean'],
                                                                ['Spanish', 'Spanish'],
                                                                ['Sri Lankan','Sri Lankan'],
                                                                ['Sudanese','Sudanese'],
                                                                ['Surinamer', 'Surinamer'],
                                                                ['Swazi', 'Swazi'],
                                                                ['Swedish', 'Swedish'],
                                                                ['Swiss','Swiss'],
                                                                ['Syrian','Syrian'],
                                                                ['Taiwanese', 'Taiwanese'],
                                                                ['Tajik', 'Tajik'],
                                                                ['Tanzanian', 'Tanzanian'],
                                                                ['Thai','Thai'],
                                                                ['Togolese','Togolese'],
                                                                ['Tongan', 'Tongan'],
                                                                ['Trinidadian or Tobagonian', 'Trinidadian or Tobagonian'],
                                                                ['Tunisian', 'Tunisian'],
                                                                ['Turkish','Turkish'],
                                                                ['Tuvaluan','Tuvaluan'],
                                                                ['Ugandan', 'Ugandan'],
                                                                ['Ukrainian', 'Ukrainian'],
                                                                ['Uruguayan', 'Uruguayan'],
                                                                ['Uzbekistani','Uzbekistani'],
                                                                ['Venezuelan','Venezuelan'],
                                                                ['Vietnamese', 'Vietnamese'],
                                                                ['Welsh', 'Welsh'],
                                                                ['Yemenite', 'Yemenite'],
                                                                ['Zambian','Zambian'],
                                                                ['Zimbabwean','Zimbabwean']
                                                                ]), :class=>"form-control" ) %>
                            </div>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label>Race</label>
                            <div class="styled-select slate">
                                 <%= select_tag(:race, 
                                            options_for_select([['-- select one --', '-- select one --'], 
                                                                ['Malay', 'Malay'], 
                                                                ['Chinese', 'Chinese'],
                                                                ['Indian', 'Indian'],
                                                                ['Others','Others']
                                                                ]), :class=>"form-control js-example-basic-single" ) %>
                            </div>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="radio" id="male" value="Male" checked><span></span> Male
                            </label>
                             <label class="radio-inline">
                                <input type="radio" name="radio" id="female" value="Female" ><span></span> Female
                            </label>
                        </div><!-- .form-group -->
                        
                        <div class="submit">
                            <a class="btn btn-primary btnPrevious">Back</a>
                            <a class="btn btn-primary btnNext waves-effect">Next</a>
                        </div>
                     
                </div><!-- .register-form -->
            </div><!-- .rectangle -->
        </div><!-- .tab-2 -->
         <div class="tab-pane" id="tab4">
            <div class="register-content">
                <div class="step-title">
                    <h3>Tell us a little about you…</h3>
                    <p>3. Enter your education info</p>
                </div><!-- .step-title -->
                <div class="rectangle">
                    <span style="width: 66%;"></span>
                </div>
                <div class="register-form">
                        <div class="form-group">
                            <label>Education level</label>
                            <div class="styled-select slate">
                              <%= select_tag(:education, 
                                            options_for_select([
                                                  ['Please select your education level', 'Please select your education level'],
                                                  ['Primary', 'Primary'], 
                                                  ['Secondary', 'Secondary'],
                                                  ['STPM', 'STPM'],
                                                  ['Diploma','Diploma'],
                                                  ['Degree or above','Degree or above']
                                              ]), :class=>"form-control" ) %>
        
                            </div>
                        </div><!-- .form-group -->
                        <!-- How to check whether checkbox is checked or not -->
                        <div class="form-group langguage">
                            <label>Langguage</label>
                            <div class="checkbox">
                              <label>
                                <input name="malaysia" value="malaysia" type="checkbox"><span></span> Bahasa Malaysia
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input value="chinese" name="chinese" type="checkbox"><span></span> Chinese
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input value="english" name="english" id="english" type="checkbox"><span></span> English
                              </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input value="tamil" name ="tamil" type="checkbox"> <span></span> Tamil
                                </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input value="cantonese" name="cantonese" type="checkbox"><span></span> Cantonese
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input value="hokkien" name="hokkien" type="checkbox"><span></span> Hokkien
                              </label>
                            </div>
                        </div>
                         <div class="submit">
                            <a class="btn btn-primary btnPrevious">Back</a>
                            <button type="submit" class="btn btn-default waves-effect">Save</button>
                        </div>
                </div><!-- .register-form -->
            </div><!-- .rectangle -->
        </div><!-- .tab-3 -->
    </div><!-- .tab-content -->
  <% end %>
</div>
<% end %>
<% end %>
<%= javascript_include_tag "home/jquery" %>
<%= javascript_include_tag "home/bootstrap.min" %>
<%= javascript_include_tag "home/jquery.flexslider" %>
<%= javascript_include_tag "home/jquery.fancybox" %>
<%= javascript_include_tag "home/jquery.nice-select.min" %>
<%= javascript_include_tag "home/ware" %>
<%= javascript_include_tag "home/parallax" %>
<%= javascript_include_tag "home/jquery.countdown" %>
<%= javascript_include_tag "home/chosen.jquery.min" %>
<%= javascript_include_tag "home/parttimebee-custom" %>
<%= javascript_include_tag "dropify/dropify" %>
<%= render 'layouts/verify_phone_2_step.html.erb'%>
<script>
            $(document).ready(function(){
                // Basic
                $('.dropify').dropify();

                // Translated
                $('.dropify-fr').dropify({
                    messages: {
                        default: 'Glissez-déposez un fichier ici ou cliquez',
                        replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                        remove:  'Supprimer',
                        error:   'Désolé, le fichier trop volumineux'
                    }
                });

                // Used events
                var drEvent = $('#input-file-events').dropify();

                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
                });

                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });

                drEvent.on('dropify.errors', function(event, element){
                    console.log('Has Errors');
                });

                var drDestroy = $('#input-file-to-destroy').dropify();
                drDestroy = drDestroy.data('dropify')
                $('#toggleDropify').on('click', function(e){
                    e.preventDefault();
                    if (drDestroy.isDropified()) {
                        drDestroy.destroy();
                    } else {
                        drDestroy.init();
                    }
                })
            });
        </script>
        <% if current_user != nil %>
          <% current_user.time_login += 1%>
          <% current_user.save %>
          <% if current_user.complete_profile == 0%>
            <% if current_user.time_login <= 3%>
                  <script type="text/javascript">
                    jQuery(document).ready(function() {
                         setTimeout(function () {
                          <% if current_user.type_user == "employer"%>
                                jQuery.fancybox("#hidden-employer");
                          <% end %>
                          <% if current_user.type_user == "parttimer"%>
                                jQuery.fancybox("#hidden-parttimer");
                          <% end %>
                              }, 10000);
                         jQuery('.fancybox').fancybox();
                      });
                  </script>
            <% end %>
          <% end %>
        <% end %>
           
        <script type="text/javascript">
          $('.staff-list').parallax();
            jQuery('.btnNext').click(function(){
              jQuery('.nav-tabs > .active').next('li').find('a').trigger('click');
            });
            
              jQuery('.btnPrevious').click(function(){
              jQuery('.nav-tabs > .active').prev('li').find('a').trigger('click');
            });
            jQuery(document).ready(function() {
              jQuery('select:not(.ignore)').niceSelect();      
              FastClick.attach(document.body);
            });
                    
        </script>
 <style type="text/css">
   
  .home-third-section{
    padding:0!important; 
    overflow: hidden;
    position: relative;
  }
  .home-third-section .home-third-content{
    padding: 70px 0;
  }
   .hexa{ 
    -ms-transform: rotate(-198deg);/* IE 9 */
    -webkit-transform: rotate(-198deg); /* Chrome, Safari, Opera */ 
     color: #85cdf0;
    font-size: 400px;
    left: -4%;
    line-height: 400px;
    position: absolute;
    top: -12%;
  transform: rotate(-198deg);
  }
  .hexa1{ 
    -ms-transform: rotate(-198deg);/* IE 9 */
    -webkit-transform: rotate(-198deg); /* Chrome, Safari, Opera */ 
    color: #fbc2eb;
    font-size: 230px;
    left: 30%;
    line-height: 230px;
    position: absolute;
    top: 1%;
    transform: rotate(-198deg);
  } 
  .hexa2{ 
    -ms-transform: rotate(-198deg);/* IE 9 */
    -webkit-transform: rotate(-198deg); /* Chrome, Safari, Opera */ 
    color: #5ee7df;
    font-size: 230px;
    left: -4%;
    line-height: 230px;
    position: absolute;
    top: 77%;
  transform: rotate(-198deg);
  } 
  .hexa3{ 
    -ms-transform: rotate(-198deg);/* IE 9 */
    -webkit-transform: rotate(-198deg); /* Chrome, Safari, Opera */ 
    color: #ffd5a2;
    font-size: 300px;
    left: 34%;
    line-height: 300px;
    position: absolute;
    top: 98%;
  transform: rotate(-198deg);
  } 
  .hexa4{ 
    -ms-transform: rotate(-198deg);/* IE 9 */
    -webkit-transform: rotate(-198deg); /* Chrome, Safari, Opera */ 
    color: #5ee7df;
  font-size: 150px;
  line-height: 150px;
  left: 78%;
  top: 13%;
  position: absolute;
  transform: rotate(-198deg);
  } 
  .hexa5{ 
    -ms-transform: rotate(-198deg);/* IE 9 */
    -webkit-transform: rotate(-198deg); /* Chrome, Safari, Opera */ 
      color: #ffd5a2;
    font-size: 270px;
    left: 92%;
    line-height: 270px;
    position: absolute;
    top: -6%;
  transform: rotate(-198deg);
  } 
  .hexa6{ 
    -ms-transform: rotate(-198deg);/* IE 9 */
    -webkit-transform: rotate(-198deg); /* Chrome, Safari, Opera */ 
    color: #85cdf0;
    font-size: 200px;
    line-height: 200px;
    position: absolute;
    right: -2%;
    top: 51%;
  transform: rotate(-198deg);
  } 
  .hexa7{  
  color: #b490ca;
    font-size: 350px;
    line-height: 350px;
    position: absolute;
    right: -5%;
    top: 83%;
  transform: rotate(-198deg);
  -ms-transform: rotate(-198deg);/* IE 9 */
    -webkit-transform: rotate(-198deg); /* Chrome, Safari, Opera */ 
  } 
  ul.staff-list {
    height: 100%;
  }
  .cd-background-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
  }
 </style>
</body>

</html>