<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>worker applied job</title>
  <!-- Stylesheets -->
    <%= stylesheet_link_tag 'home/bootstrap.min' %>
    <%= stylesheet_link_tag 'home/style' %>
  <%= stylesheet_link_tag 'home/flexslider' %>
    <%= stylesheet_link_tag 'home/responsive' %>
    <%= stylesheet_link_tag 'home/huan' %>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content='Search result page'/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900|Montserrat:400,700" rel="stylesheet">
</head>
<body class="worker-applied-job">
     <div class="wapper">
        <% Favoritejob.remove_favorite_job %>
        <%= render "layouts/header"%>
          <% if request.original_url.include? "worker-applied-job?applied-jobs"%>
            <%= render 'layouts/job_parttimer/applied_jobs'%>
          <% end %>
          <% if request.original_url.include? "worker-applied-job?started-jobs"%>
              <%= render 'layouts/job_parttimer/started_jobs'%>
          <% end %>
          <% if request.original_url.include? "worker-applied-job?completed-jobs"%>
              <%= render 'layouts/job_parttimer/completed_jobs'%>
          <% end %>
          <% if request.original_url.include? "worker-applied-job?favorite-jobs"%>
            <%= render 'layouts/job_parttimer/favorite_jobs'%>
          <% end %>
        <%= render "layouts/footer"%>
    </div><!-- wapper -->
<%= javascript_include_tag "home/jquery" %>
<%= javascript_include_tag "home/bootstrap.min"%>
<%= javascript_include_tag "home/jquery.flexslider"%>
<%= javascript_include_tag "home/ware"%>
<%= javascript_include_tag "home/parttimebee-custom"%>
<script>
jQuery(document).ready(function(){

    jQuery(".share-click").click(function(){
        jQuery(".icon-share").stop().slideUp(300); 
        jQuery(this).next(".icon-share").stop().slideToggle(300);     
        return false;
    });

    jQuery("body").click (function(){

      // Close all open windows

      jQuery(".icon-share").stop().slideUp(300); 

    });

});

</script>
</body><!-- .search-result-page -->
</html>