<%= form_for(:job, :url => {:controller => 'job', :action => 'finish_draft_job'}) do |f| %>
<div class="wapper">
<% @job = Job.find(params[:id]) %>
        <div class="tab-content">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Step 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Step 2</a></li>
                <li><a href="#tab3" data-toggle="tab">Step 3</a></li>
                <li><a href="#tab4" data-toggle="tab">Step 4</a></li>
                <li><a href="#tab5" data-toggle="tab">Step 5</a></li>
            </ul><!-- .nav tab -->

            <div class="tab-pane active" id="tab1">

               <div class="header">
                    <div class="auto-container">
                        <div class="row"> 
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <a class="logo" href="#" title="Logo">
                                    <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>

                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">        

                                <div class="step">

                                    <h3>Step 1 : Basic Info</h3>

                                </div>

                            </div>

                         <div class="save-exit">
                                <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                            </div>

                        </div><!-- row --> 

                    </div>

                </div><!-- header-small -->

                <div class="rectangle">

                    <span style="width: 1%;"></span>

                </div><!-- .rectangle -->

                <div class="content">
                <% @job = Job.find(params[:id]) %>
                    <div class="form-container">
                            <div class="form-group">
                                <label>Job Title</label>
                                <%= f.text_field :jobtitle,:onkeyup=>"countChar(this)", :class=>"form-control", :value => @job[:title] %>
                                <p class="help-block" id="charNum">100 characters left</p>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <%= f.text_field :activetab, :type => 'hidden', :class=>"activetab", :value => "" %>
                            </div>
                             <script>
                              function countChar(val) {
                                var len = val.value.length;
                                if (len >= 100) {
                                  val.value = val.value.substring(0, 100);
                                } else {
                                  $('#charNum').text((100 - len).toString() + ' characters left' );
                                }
                              };
                            </script>
                            <div class="form-group">
                                <label>Job Description</label>
                                <%= f.text_area :description, :class=>"editable", :rows => 5, :value => @job[:description]  %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>No. of vacancies</label>
                                        <%= f.number_field :vacancies, :class=>"form-control", :placeholder => "10", :value => @job[:vacancies]  %>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Available for</label>
                                        <%= select_tag(:available_for, options_for_select([['everyone', 'everyone'], ['only female', 'only female'], ['only male', 'only male']], :selected => @job[:availablefor]), :class=>"form-control" ) %>
                                    </div>
                                </div>
                            </div><!-- .form-group -->

                            <div class="form-group">

                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Age from</label>
                                         <%= select_tag :age_from, options_for_select(Age.all.collect{ |age| [age.age, age.age] },:selected => @job[:agefrom], :class => "form-control")%>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>to</label>
                                           <%= select_tag :age_to, options_for_select(Age.all.collect{ |age| [age.age, age.age]},:selected => @job[:ageto], :class => "form-control")%>
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Job Requirement</label>
                                <%= f.text_area :requirement, :class=>"editable", :rows => 5, :value => @job[:requirements]  %>
                            </div><!-- .form-group -->
                            <div class="form-group langguage">
                                <label>Language</label>
                                <div class="checkbox">
                                  <label>
                                  <% if @job[:language_Bahasa_Malaysia] == "1"%>
                                    <%= f.check_box :malaysia, {:class => "anyclass", :style => "anystyle", :checked => "checked"}%><span></span> Bahasa Malaysia
                                    <% else %>
                                    <%= f.check_box :malaysia, {:class => "anyclass", :style => "anystyle", :checked => ""}%><span></span> Bahasa Malaysia
                                    <% end %>
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                  <% if @job[:language_Chinese] == "1"%>
                                    <%= f.check_box :chinese, {:class => "anyclass",:checked => "checked", :style => "anystyle"}%><span></span> Chinese
                                    <% else %>
                                    <%= f.check_box :chinese, {:class => "anyclass",:checked => "", :style => "anystyle"}%><span></span> Chinese
                                    <% end %>
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                  <% if @job[:language_English] == "1" %>
                                   <%= f.check_box :english, {:class => "anyclass", :style => "anystyle", :checked => "checked"}%><span></span> English
                                   <% else %>
                                   <%= f.check_box :english, {:class => "anyclass", :checked => "", :style => "anystyle"}%><span></span> English
                                   <% end %>
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                  <% if @job[:language_Tamin] =="1"%>
                                    <%= f.check_box :tamin, {:class => "anyclass", :style => "anystyle", :checked => "checked"}%><span></span> Tamin
                                    <% else %>
                                    <%= f.check_box :tamin, {:class => "anyclass", :style => "anystyle", :checked => ""}%><span></span> Tamin
                                    <% end %>
                                  </label>
                                </div>

                                <div class="checkbox">
                                  <label>
                                  <% if @job[:language_Cantonese] == "1"%>
                                    <%= f.check_box :cantonese, {:class => "anyclass", :style => "anystyle", :checked => "checked"}%><span></span> Cantonese
                                    <% else %>
                                    <%= f.check_box :cantonese, {:class => "anyclass", :style => "anystyle", :checked => ""}%><span></span> Cantonese
                                    <% end %>
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                  <% if @job[:language_Hokkien] == "1"%>
                                    <%= f.check_box :hokkien, {:class => "anyclass", :style => "anystyle", :checked => "checked"}%><span></span> Hokkien
                                    <%else%>
                                    <%= f.check_box :hokkien, {:class => "anyclass", :style => "anystyle", :checked => ""}%><span></span> Hokkien
                                    <% end%>
                                  </label>
                                </div>
                            </div><!-- .form-group -->

                            <div class="rectangle-6"></div>

                            <div class="submit">

                                <a class="btn btn-primary btnNext waves-effect">Next</a>

                            </div>

                             

                    </div><!-- .auto-container -->

                </div><!-- .content --> 

            </div><!-- .tab-1 -->

            <div class="tab-pane" id="tab2">

               <div class="header">

                    <div class="auto-container">

                        <div class="row"> 

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">            

                                <a class="logo" href="#" title="Logo">
                                    <!-- <img src="images/small-logo.png" alt="Logo"> -->
                                     <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>

                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">        

                                <div class="step">

                                    <h3>Step 2 : Salary</h3>

                                </div>

                            </div>
                           <div class="save-exit">
                                <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                            </div>
                        </div><!-- row --> 

                    </div>

                </div><!-- header-small -->

                <div class="rectangle">

                    <span style="width: 25%;"></span>

                </div><!-- .rectangle -->

                <div class="content">
                    <div class="form-container">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Salary</label>
                                        <div class="ringgit"> 
                                            <%= f.text_field :salary, :class=>"form-control", 
                                             :placeholder => "50", :value =>@job[:salary] %>
                                            <span>ringgit</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label></label>
                                             <%= select_tag(:perday, 
                                            options_for_select([['per day', 'day'], ['per week', 'week'], ['per month', 'month']],:selected => @job[:per_day]), :class=>"form-control" ) %>
                                    </div>
                                </div>
                            </div><!-- .form-group -->

                            <div class="form-group">

                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Payment</label>
                                             <%= select_tag(:payment, 
                                            options_for_select([['pay daily', 'daily'], 
                                                                ['pay weekly', 'weekly'], 
                                                                ['pay monthly', 'monthly']
                                                                ], :selected => @job[:payment]), :class=>"form-control" ) %>
                                        <div class="div-radio">
                                            <label>On The Spot</label>
                                            <% if @job[:on_the_spot] == "yes"%>
                                            <label class="radio-inline">
                                                <input type="radio" name="onthespot" id="on-the-spot1" value="onthespot1" checked><span></span> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="onthespot" id="on-the-spot2" value="onthespot2" ><span></span> No
                                            </label>
                                            <% else %>
                                            <label class="radio-inline">
                                                <input type="radio" name="onthespot" id="on-the-spot1" value="onthespot1"><span></span> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="onthespot" id="on-the-spot2" value="onthespot2" checked ><span></span> No
                                            </label>
                                            <% end %>
                                        </div>
                                        <div class="div-radio">
                                            <label>Commission</label>
                                            <% if @job[:commission] == "yes"%>
                                                <label class="radio-inline">
                                                    <input type="radio" name="commission" id="commissio1" value="commission1" checked><span></span> Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="commission" id="commissio2" value="commission2" ><span></span> No
                                                </label>
                                            <% else %>
                                                <label class="radio-inline">
                                                    <input type="radio" name="commission" id="commissio1" value="commission1"><span></span> Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="commission" id="commissio2" value="commission2" checked ><span></span> No
                                                </label>
                                            <% end %>
                                       </div>
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Benefits</label>
                                <%= f.text_area :benefits, :class=>"editable", :rows => 5, :placeholder =>"Lunch Included, Accomodation and Transport Provided", :value => @job[:benefits]  %>
                            </div><!-- .form-group -->
                            <div class="rectangle-6"></div>
                            <div class="submit">
                                <a class="btn btn-primary btnPrevious">Back</a>
                                <a class="btn btn-primary btnNext waves-effect">Next</a>
                            </div>
                       </form>              
                    </div><!-- .auto-container -->
                </div><!-- .content -->
            </div><!-- .tab-2 -->
            <div class="tab-pane" id="tab3">
                <div class="header">
                    <div class="auto-container">
                        <div class="row"> 
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">            
                                <a class="logo" href="#" title="Logo">
                                    <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">        
                                <div class="step">
                                    <h3>Step 3 : Working Time</h3>
                                </div>
                            </div>
                            <div class="save-exit">
                                <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                            </div>
                              
                        </div><!-- row --> 
                    </div>
                </div><!-- header-small -->
                <div class="rectangle">
                    <span style="width: 50%;"></span>
                </div><!-- .rectangle -->
                <div class="content">
                    <div class="form-container">
                            <div class="form-group working-date">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Working Date from</label>
                                         <%= f.text_field :working_date_from, :value => @job[:working_date_from].try(:strftime, "%m %d %Y at %I:%M%p") , :class=>"form-control", :placeholder =>"Select Date", :id =>'datetimepicker4' %> 
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>to</label>
                                        <%= f.text_field :working_date_to, :class=>"form-control", :placeholder =>"Select Date", :value => @job[:working_date_to].try(:strftime, "%m %d %Y at %I:%M%p"), :id=>'datetimepicker5' %> 
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group working-hour">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                        <label>Working Hour from</label>

                                       <%= select_tag :working_hour_from, options_for_select(Workinghour.all.collect{ |hour| [hour.working_hour, hour.working_hour] }, :selected => @job[:working_hour_from], :class => "form-control")%>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>to</label>
                                            <%= select_tag :working_hour_to, options_for_select(Workinghour.all.collect{ |hour| [hour.working_hour, hour.working_hour] },:selected => @job[:working_hour_to] ,:class => "form-control")%>
                                    </div>

                                </div>

                            </div><!-- .form-group -->

                            <div class="rectangle-6"></div>

                            <div class="submit">

                                <a class="btn btn-primary btnPrevious">Back</a>

                                <a class="btn btn-primary btnNext waves-effect">Next</a>

                            </div>
                    </div><!-- .auto-container -->

                </div><!-- .content -->

            </div><!-- .tab-3 -->

            <div class="tab-pane" id="tab4">

                <div class="header">

                    <div class="auto-container">

                        <div class="row"> 

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">  
                                <a class="logo" href="#" title="Logo">
                                    <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"> 
                                <div class="step">
                                    <h3>Step 4 : Working Location</h3>
                                </div>
                            </div>
                            <div class="save-exit">
                                <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                            </div>
                        </div><!-- row --> 

                    </div>

                </div><!-- header-small -->

                <div class="rectangle">

                    <span style="width: 75%;"></span>

                </div><!-- .rectangle -->

                <div class="content">
                    <div class="form-container">
                            <h4>Location 1</h4>
                            <div class="form-group">
                                <label>Working Address</label>
                                <%= f.text_field :workingaddress, :class=>"form-control",  :value => @job[:working_address] %> 
                                <label></label>
                                <%= f.text_field :workingaddress2, :class=>"form-control",  :value => @job[:working_address2] %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-state12">
                                        <label>State</label>
                                        <select id="region" name="state" >
                                            <option id="wm">Select State</option>
                                            <option id="Johor">Johor</option>
                                            <option id="Kedah">Kedah</option>
                                            <option id="Kelantan">Kelantan</option>
                                            <option id="Kuala Lumpur">Kuala Lumpur</option>
                                            <option id="Labuan">Labuan</option>
                                            <option id="Melaka">Melaka</option>
                                            <option id="Negeri Sembilan">Negeri Sembilan</option>
                                            <option id="Pahang">Pahang</option>
                                            <option id="Perak">Perak</option>
                                            <option id="Perlis">Perlis</option>
                                            <option id="Pulau Pinang">Pulau Pinang</option>
                                            <option id="Putrajaya">Putrajaya</option>
                                            <option id="Sabah">Sabah</option>
                                            <option id="Sarawak">Sarawak</option>
                                            <option id="Selangor">Selangor</option>
                                            <option id="Terengganu">Terengganu</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>City</label>
                                        <select id="city" name="city" class="nice-select removeclass">
                                          <option class="nice-select">Select City</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Postcode</label>
                                        <%= f.text_field :postcode, :class=>"form-control",  :value => @job[:post_code] %>   
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="border-solid"></div>
                            <h4>Location 2</h4>
                            <div class="form-group">
                                <label>Working Address</label>
                                <%= f.text_field :workingaddress3, :class=>"form-control",  :value => @job[:working_address3] %> 
                                <label></label>
                                <%= f.text_field :workingaddress4, :class=>"form-control",  :value => @job[:working_address4] %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-state12">
                                        <label>State</label>
                                        <select id="region2" name="state">
                                            <option id="wm">Select State</option>
                                            <option id="Johor">Johor</option>
                                            <option id="Kedah">Kedah</option>
                                            <option id="Kelantan">Kelantan</option>
                                            <option id="Kuala Lumpur">Kuala Lumpur</option>
                                            <option id="Labuan">Labuan</option>
                                            <option id="Melaka">Melaka</option>
                                            <option id="Negeri Sembilan">Negeri Sembilan</option>
                                            <option id="Pahang">Pahang</option>
                                            <option id="Perak">Perak</option>
                                            <option id="Perlis">Perlis</option>
                                            <option id="Pulau Pinang">Pulau Pinang</option>
                                            <option id="Putrajaya">Putrajaya</option>
                                            <option id="Sabah">Sabah</option>
                                            <option id="Sarawak">Sarawak</option>
                                            <option id="Selangor">Selangor</option>
                                            <option id="Terengganu">Terengganu</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>City</label>
                                        <select id="city2" name="city" class="nice-select removeclass2">
                                          <option class="nice-select">Select City</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label>Postcode</label>
                                        <%= f.text_field :post_code2, :class=>"form-control",  :value => @job[:post_code2] %>   
                                    </div>
                                </div>
                            </div><!-- .form-group -->
                            <div class="add-location">
                                <a class="waves-effect" href="#">Add Location</a>
                            </div>

                            <div class="rectangle-6"></div>

                            <div class="submit">

                                <a class="btn btn-primary btnPrevious">Back</a>

                                <a class="btn btn-primary btnNext waves-effect">Next</a>

                            </div>

                    </div><!-- .auto-container -->

                </div><!-- .content -->

            </div><!-- .tab-4 -->

            <div class="tab-pane" id="tab5">

                <div class="header">

                    <div class="auto-container">

                        <div class="row"> 

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"           
                                <a class="logo" href="#" title="Logo">
                                     <%= image_tag "small-logo.png", alt: "Logo"%>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">        
                                <div class="step">
                                    <h3>Step 5 : Contact</h3>
                                </div>
                            </div>
                            <div class="save-exit">
                                <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
                            </div>   
                        </div><!-- row --> 
                    </div>
                </div><!-- header-small -->
                <div class="rectangle">
                    <span style="width:100%;"></span>
                </div><!-- .rectangle -->
                <div class="content">
                    <div class="form-container">
                            <div class="form-group">
                                <label>Contact Person</label>
                                <%= f.text_field :contactperson, :class=>"form-control",  :placeholder => "Please Enter Your Name", :value => @job[:contact_person] %>      
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Way of Contact</label>
                                <%= f.text_field :wayofcontact, :class=>"form-control",  :placeholder => "Mobile Number", :value => @job[:way_of_contact] %>      
                                <label></label>
                                <%= f.text_field :wayofcontact2, :class=>"form-control",  :placeholder => "Email", :value => @job[:email] %>
                            </div><!-- .form-group -->
                            <div class="rectangle-6"></div>
                            <div class="submit">
                                <a class="btn btn-primary btnPrevious">Back</a>
                                <button type="submit" class="btn btn-default waves-effect">Publish</button>
                            </div>
                    </div><!-- .auto-container -->
                </div><!-- .content -->
            </div><!-- .tab-5 -->
        </div>
    </div><!-- wapper -->
<% end %>