<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <style>
      .containerNe {
        width: auto;
        min-height: 100%;
      }
      .PasswordReset-container {
        width: 1388px;
        height: 400px;
        padding-top: 49px;
        margin: 0 auto;
      }
      .PasswordReset-dashlineIcon {
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 41px;
      }
      .PasswordReset-logo {
        margin-left: 675px;
        margin-right: 674px;
        position: absolute;
        margin-top: -20px;
      }
      .PasswordReset-helloUser {
        min-width: 262px;
        height: 32px;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin: 0 auto;
        margin-top: 51px;
        margin-bottom: 8px;
      }
      .PasswordReset-abstract {
        width: 432px;
        height: 44px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
        margin: 0 auto;
        margin-bottom: 34px;
      }
      .PasswordReset-resetButton {
        width: 400px;
        height: 40px;
        border-radius: 3px;
        background-color: #ffaa00;
        margin: 0 auto;
        cursor: pointer;
      }
      .PasswordReset-textButton {
        height: 22px;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: 0.2px;
        text-align: center;
        color: #ffffff;
        padding-bottom: 9px;
        padding-top: 9px;
      }
      .PasswordReset-contact {
        width: 369px;
        height: 20px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        color: #999999;
        margin: 0 auto;
        margin-top: 16px;
      }
      .PasswordReset-supportColor {
        color: #c8cf2d !important; 
      }
      .PasswordReset-link {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="containerNe">
      <div class="PasswordReset-container">
        <div class="PasswordReset-dashline">
          <%= image_tag("https://image.ibb.co/cxzNXy/Dashline.png", :alt => "Dashline") %>     
          <%= image_tag("https://image.ibb.co/dO4mQJ/Dashline_Icon.png", :class => "PasswordReset-dashlineIcon", :alt => "Dasdline icon") %> 
        </div>
        <div class="PasswordReset-logo">
          <%= image_tag("https://image.ibb.co/hc3fkJ/ptblogo.png", :alt => "Logo") %>
        </div>
        <div class="PasswordReset-helloUser">
          Hey, Boss
        </div>
        <div class="PasswordReset-abstract">
          Seems like you have requested to reset your password. </br> To reset your password, click the Reset Password button below:            
        </div>
        <% if Rails.env == "development"%>
          <a class="PasswordReset-link" href="http://localhost:3001/user/change-password?token=<%= @user.password_reset_token %>">
            <div class="PasswordReset-resetButton">
              <div class="PasswordReset-textButton">
                Reset Password
              </div>
            </div>
          </a>
        <% end %>
        <% if Rails.env == "production"%>
          <a class="PasswordReset-link" href="https://parttimebee.my/user/change-password?token<%= @user.password_reset_token %>">
            <div class="PasswordReset-resetButton">
              <div class="PasswordReset-textButton">
                Reset Password
              </div>
            </div>
          </a>
        <% end %>
        <div class="PasswordReset-contact">
          In case of difficulty please contact us: <a href="mailto:support@parttimebee.my" class="PasswordReset-supportColor">support@parttimebee.my</a>
        </div>
      </div>
    </div>
  </body>
</html>