<div class='special-main'>  
      <div class="auto-container">
        <div class="special-content">
          <div class="login-form-content special-form-content">
            <%= form_for(:reset, :url => {:controller => 'login', :action => 'update_password_reset'}) do |f| %>
              <div>
            <% if flash[:password_not_the_same] %>
                        <div class="alert alert-danger">
                            <center>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <%= flash[:password_not_the_same] %>
                            </center>
                        </div>
                <% end %>
                <% if flash[:validate_password] %>
                        <div class="alert alert-danger">
                            <center>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <%= flash[:validate_password] %>
                            </center>
                        </div>
                <% end %>
                <% if flash[:update_success] %>
                        <div class="alert alert-success">
                            <center>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <%= flash[:update_success] %>
                            </center>
                        </div>
                <% end %>
          </div>
               <div class="form-group">
                <label for="user-password">New Password</label>
                <%= f.password_field :password, :class=>"form-control", :required => true %> 
              </div>
              <div class="form-group">
                <label for="user-password">Confirm New Password</label>
                <%= f.password_field :confirm_password, :class=>"form-control", :required => true %> 
              </div>
              <button type="submit" class="btn btn-default login-btn">Agree</button>
              <div class="remember-acc">
                <!-- <label class="remember-me pull-left">
                  <input type="checkbox"  value="" name="remobemer"> Remember me?
                </label> -->
                <!-- <div class="lost-password pull-right">
                  <a href="/forget-password" class="lost-password-link" title="Lost password">Forgot Your Password?</a>
                </div> -->
              </div>
            <% end %>
            <div class="or-seperate"><span>Or</span></div>
            <div class="facebook-login">
            <a href='/auth/facebook' class="facebook-login-btn btn btn-lg"><i class="fa fa-facebook-official" aria-hidden="true"></i><span>Sign up with Facebook</span></a>
            <p>We’ll never post anything on Facebook without your permission.</p>
            </div>
          </div>  
          <div class="new-sign-up text-center">
            <p>New to Part-time Bee? <a href="/login" title="Log In" class="sign-up-btn-link">Sign up</a></p>
          </div>
        </div>
      </div>
    </div> 