<div class="content">
                <% if Profile.where(user_id: current_user.id).count.positive?%>
                    <% @profile = Profile.where(user_id: current_user.id).first%>
                <% end %>
                <div class="tab-content">
                    <% if request.original_url.include?("account") %>
                        <div role="tabpanel" class="tab-pane active auto-container" id="account">
                           <%= render 'layouts/change_password'%>
                        </div><!-- .all-jobs -->
                        <div role="tabpanel" class="tab-pane auto-container" id="edit-profile"> 
                    <% end %>
                    <% if request.original_url.include? "edit-profile"%>
                        <div role="tabpanel" class="tab-pane auto-container" id="account">
                           <%= render 'layouts/change_password'%>
                        </div><!-- .all-jobs -->
                        <div role="tabpanel" class="tab-pane active auto-container" id="edit-profile"> 
                    <% end %>
                        <%= form_for(:editprofile, :url => {:controller => 'profile', :action => 'edit_profile'}) do |f| %>
                             <h2 class="text-center title-section">Basic Info</h2>
                            <div class="form-group">
                                <label>Company Name</label>
                                <% if @profile %>
                                    <%= f.text_field :companyname, :class=>"form-control", :placeholder => "Company Name", :value => @profile[:company_name]%>
                                <% else %>
                                    <%= f.text_field :companyname, :class=>"form-control", :placeholder => "Company Name"%>
                                <% end %>
                                
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Company Address</label>
                                <% if @profile %>
                                    <%= f.text_field :companyaddress1, :class=>"form-control", :placeholder => "Company Address", :value => @profile[:company_address1] %>
                                <% else %>
                                    <%= f.text_field :companyaddress1, :class=>"form-control", :placeholder => "Company Address" %>
                                <% end %>
                                
                                <br>
                                <% if @profile %>
                                    <%= f.text_field :companyaddress2, :class=>"form-control", :placeholder => "Company Address", :value => @profile[:company_address2] %>
                                <% else %>
                                    <%= f.text_field :companyaddress2, :class=>"form-control", :placeholder => "Company Address" %>
                                <% end %>
                                
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Company Logo</label>
                                <% if Profile.where(user_id: session[:user_id]).count.positive?%>
                                    <% @profile = Profile.where(user_id: session[:user_id]).first%>
                                    <% if @profile.company_logo_file_name != nil %>
                                    <% @logo = @profile.company_logo.url %>
                                    <%= f.file_field :companylogo,:class  => "dropify", :accept => "image/*", :"data-height" => "101",:"data-default-file" => @logo.slice(0..(@logo.index('g?'))), :"data-width" => "370"%>
                                   <% end %>
                                   <% if @profile.company_logo_file_name == nil %>
                                    <%= f.file_field :companylogo,:class  => "dropify", :accept => "image/*", :"data-height" => "101", :"data-width" => "370"%>
                                   <% end %>
                                <% else %>
                                   <%= f.file_field :companylogo,:class  => "dropify", :accept => "image/*", :"data-height" => "101", :"data-width" => "370"%>
                                <% end %>
                                <div id="status1"></div>
                            </div><!-- .form-group --> 
                            <div class="form-group">
                                <label>Company Bio</label>
                                <% if @profile %>
                                    <%= f.text_area :companybio, :class=>"editable", :placeholder => "Company Bio", :rows => 8, :value => @profile[:company_bio] %>
                                <% else %>
                                    <%= f.text_area :companybio, :class=>"editable", :placeholder => "Company Bio", :rows => 8 %> 
                                <% end %>
                            </div><!-- .form-group -->
                              <h2 class="text-center title-section">Contact Info</h2>
                            <div class="form-group">
                                <label>Name of Person in Charge</label>
                                <% if @profile %>
                                    <%= f.text_field :nameofpersonincharge, :class=>"form-control", :placeholder => "Name of person in charge", :value => @profile[:name_of_person_in_charge] %>
                                <% else %>
                                    <%= f.text_field :nameofpersonincharge, :class=>"form-control", :placeholder => "Name of person in charge" %>
                                <% end %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Contact mobile</label>
                                <% if @profile %>
                                    <%= f.text_field :contactmobile, :class=>"form-control", :placeholder => "Contact Mobile", :value => @profile[:company_contact] %>
                                <% else %>
                                    <%= f.text_field :contactmobile, :class=>"form-control", :placeholder => "Contact Mobile" %>
                                <% end %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Fixed Line No</label>
                                <% if @profile %>
                                    <%= f.text_field :fixedlineno, :class=>"form-control", :placeholder => "Fixed line no", :value => @profile[:fixed_line_no] %>
                                <% else %>
                                    <%= f.text_field :fixedlineno, :class=>"form-control", :placeholder => "Fixed line no" %>
                                <% end %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Company Email</label>
                                <%= f.text_field :companyemail, :class=>"form-control", :placeholder => "Company Email", :value => @profile.company_email %>
                            </div><!-- .form-group -->
                            <div class="submit">
                                <button type="submit" class="btn btn-default">Save Profile</button>
                            </div>
                       <% end %>
                    </div><!-- .edit-profile -->
                </div><!-- Tab panes -->
            </div><!-- .container -->
        </div><!-- .content -->
        
