     <%= stylesheet_link_tag 'home/flexslider' %>
     <%= stylesheet_link_tag 'home/bootstrap.min' %>
     <%= stylesheet_link_tag 'home/style' %>
     <%= stylesheet_link_tag 'home/select-style' %>
     <%= stylesheet_link_tag 'home/responsive' %>
     <%= stylesheet_link_tag 'medium-editor/medium-editor' %>
     <%= stylesheet_link_tag 'home/huan' %>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="content">
                <div class="tab-content">
                  <% if request.original_url.include?("account") %>
                    <div role="tabpanel" class="tab-pane active" id="account">
                       <%= render 'layouts/change_password'%>
                    </div><!-- .all-jobs -->
                    <div role="tabpanel" class="tab-pane" id="edit-profile">
                  <% end %>
                  <% if request.original_url.include?("edit-profile") %>
                    <div role="tabpanel" class="tab-pane" id="account">
                       <%= render 'layouts/change_password'%>
                    </div><!-- .all-jobs -->
                    <div role="tabpanel" class="tab-pane active" id="edit-profile">
                  <% end %>
                        <%= form_for(:editprofile, :url => {:controller => 'home', :action => 'edit_profile_parttimer'}) do |f| %>
                            <div class="form-group">
                                <label>Your Photo</label>
                                <% if current_user.avatar_file_name != nil%>
                                <% @logo = current_user.avatar.url%>
                                  <%= f.file_field :avatar,:class  => "dropify", :accept => "image/*", :"data-height" => "101",:"data-default-file" => @logo.slice(0..(@logo.index('g?'))), :"data-width" => "370"%>
                                  <% end %>
                                   <% if current_user.avatar_file_name == nil%>
                                  <%= f.file_field :avatar,:class  => "dropify", :accept => "image/*", :"data-height" => "101", :"data-width" => "370"%>
                                  <% end %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Full Name</label>
                                <%= f.text_field :fullnameparttimer, :class=>"form-control", :value => current_user.full_name %> 
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Email</label>
                                <%= f.email_field :email, :class=>"form-control", :value => current_user.email %> 
                            </div><!-- .form-group -->
                            <div class="form-group form-group-50">
                                <label>Gender</label>
                                <% if current_user.sex == "Male" || current_user.sex.blank?%>
                                  <%= select_tag(:sex, 
                                    options_for_select([['Male', 'Male'], 
                                                        ['FeMale', 'FeMale']
                                                      ]), :class=>"form-control race" ) %>
                                <% else %>
                                  <%= select_tag(:sex, 
                                    options_for_select([['FeMale', 'FeMale'], 
                                                        ['Male', 'Male']
                                                      ]), :class=>"form-control race" ) %>
                                <% end %>
                            </div><!-- .form-group -->
                            <div class="form-group form-group-50 last working-date">
                                <label>Date Of Birth</label>
                                <%= f.text_field :dayofbirth, :class => "form-control",:id=>'datetimepicker4', :placeholder => "MM/DD/YYYY", :value => current_user.day_of_birth.try(:strftime, "%m %d %Y at %I:%M%p") %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Introduce Yourself</label>
                                <%= f.text_area :introduceyourself, :class => "form-control", :rows => "8", :value => current_user.introduce_yourself%>
                            </div><!-- .form-group -->
                            <!-- Link tut: https://jon.kim/how-to-add-google-maps-autocomplete-search-box/ -->
                            <div class="form-group">
                                <label>3 Preferred Working Location</label>
                                <%= f.text_field :location1, :class=>"form-control", :id => 'location1', :value => current_user.preferred_working_location1 %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <%= f.text_field :location2, :class=>"form-control", :id => 'location2', :value => current_user.preferred_working_location2 %>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <%= f.text_field :location3, :class=>"form-control", :id=>'location3', :value => current_user.preferred_working_location3 %>
                            </div><!-- .form-group -->
                            <div class="form-group langguage">
                                <label>Language</label>
                                <div class="checkbox">
                                <% if current_user.bahasa_malaysia == "no" || current_user.bahasa_malaysia == nil%>
                                  <label>
                                    <input name="malaysia" value="malaysia" type="checkbox"><span></span> Bahasa Malaysia
                                  </label>
                                <% end %>
                                <% if current_user.bahasa_malaysia == "yes"%>
                                  <label>
                                    <input name="malaysia" checked="" value="malaysia" type="checkbox"><span></span> Bahasa Malaysia
                                  </label>
                                <% end %>
                                </div>
                                <div class="checkbox">
                                <% if current_user.chinese == "no" || current_user.chinese == nil%>
                                  <label>
                                    <input value="chinese" name="chinese" type="checkbox"><span></span> Chinese
                                  </label>
                                <% end %>
                                <% if current_user.chinese == "yes"%>
                                  <label>
                                    <input value="chinese" checked="" name="chinese" type="checkbox"><span></span> Chinese
                                  </label>
                                <% end %>
                                </div>
                                <div class="checkbox">
                                <% if current_user.english == "yes"%>
                                  <label>
                                    <input value="english" checked="" name="english" id="english" type="checkbox"><span></span> English
                                  </label>
                                <% end %>
                                <% if current_user.english == "no" || current_user.english == nil %>
                                  <label>
                                    <input value="english" name="english" id="english" type="checkbox"><span></span> English
                                  </label>
                                <% end %>
                                </div>
                                <div class="checkbox">
                                <% if current_user.tamil == "yes"%>
                                    <label>
                                        <input value="tamil" checked="" name ="tamil" type="checkbox"> <span></span> Tamil
                                    </label>
                                <% end %>
                                <% if current_user.tamil == "no" || current_user.tamil == nil%>
                                    <label>
                                        <input value="tamil" name ="tamil" type="checkbox"> <span></span> Tamil
                                    </label>
                                <% end %>
                                </div>
                                <div class="checkbox">
                                <% if current_user.cantonese == "yes"%>
                                  <label>
                                    <input value="cantonese" checked="" name="cantonese" type="checkbox"><span></span> Cantonese
                                  </label>
                                <% end %>
                                <% if current_user.cantonese == "no" || current_user.cantonese == nil%>
                                  <label>
                                    <input value="cantonese" name="cantonese" type="checkbox"><span></span> Cantonese
                                  </label>
                                <% end %>
                                </div>
                                <div class="checkbox">
                                <% if current_user.hokkien == "yes"%>
                                  <label>
                                    <input value="hokkien" checked="" name="hokkien" type="checkbox"><span></span> Hokkien
                                  </label>
                                <% end %>
                                <% if current_user.hokkien == "no" || current_user.hokkien == nil%>
                                  <label>
                                    <input value="hokkien" name="hokkien" type="checkbox"><span></span> Hokkien
                                  </label>
                                <% end %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Education Level</label>
                                <div class="checkbox">
                                  <label>
                                      <% if current_user[:education] == 'primary'%>
                                        <input type="checkbox" checked name="education" value="primary" >
                                      <% else %>
                                        <input type="checkbox" name="education" value="primary" >
                                      <% end %>
                                      <span></span> Primary
                                  </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <% if current_user[:education] == 'secondary'%>
                                      <input type="checkbox" checked name="education" value="secondary" >
                                    <% else %>
                                      <input type="checkbox" name="education" value="secondary" >
                                    <% end %>
                                      <span></span> Secondary School
                                    </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <% if current_user[:education] == 'stpm'%>
                                      <input type="checkbox" checked name="education" value="stpm" >
                                    <% else %>
                                      <input type="checkbox" name="education" value="stpm" >
                                    <% end %>
                                      <span></span> STPM
                                    </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <% if current_user[:education] == 'diploma' %>
                                      <input type="checkbox" checked name="education" value="diploma" >
                                    <% else %>
                                      <input type="checkbox" name="education" value="diploma" >
                                    <% end %>
                                    <span></span> Diploma
                                    </label>
                                </div>
                                <div class="checkbox">
                                  <label>
                                    <% if current_user[:education] == 'degree' %>
                                      <input type="checkbox" checked name="education" value="degree" >
                                    <% else %>
                                      <input type="checkbox" name="education" value="degree" >
                                    <% end %>
                                      <span></span> Degree or above
                                    </label>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Check If Malaysian</label>
                                <div class="checkbox">
                                <% if current_user.ifmalaysian == "yes"%>
                                  <label>
                                    <input type="checkbox" checked="" name="malaysian" value="malaysian" ><span></span> Yes, I'm Malaysian
                                  </label>
                                <% end %>
                                <% if current_user.ifmalaysian == "no" || current_user.ifmalaysian == nil%>
                                  <label>
                                    <input type="checkbox" name="malaysian" value="malaysian" ><span></span> Yes, I'm Malaysian
                                  </label>
                                <% end %>
                                </div>
                            </div><!-- .form-group -->
                            <div class="form-group">
                                <label>Race</label>
                                <div class="checkbox">
                                <% if current_user.race == 'Malay'%>
                                  <label>
                                    <input type='checkbox' checked name="race" value="Malay"><span></span> Malay
                                  </label>
                                <% else %>
                                  <label>
                                    <input type="checkbox" name="race" value="Malay"><span></span> Malay
                                  </label>
                                <% end %>
                                </div>
                                <div class="checkbox">
                                <% if current_user.race == 'Chinese'%>
                                  <label>
                                    <input type="checkbox" checked name="race" value="Chinese" ><span></span> Chinese
                                  </label>
                                <% else %>
                                  <label>
                                    <input type="checkbox" name="race" value="Chinese" ><span></span> Chinese
                                  </label>
                                <% end %>
                                </div>
                                <div class="checkbox">
                                <% if current_user.race == 'Indian' %>
                                  <label>
                                    <input type="checkbox" checked name="race" value="Indian" ><span></span> Indian
                                  </label>
                                <% else %>
                                  <label>
                                    <input type="checkbox" name="race" value="Indian" ><span></span> Indian
                                  </label>
                                <% end %>
                                </div>
                                <div class="checkbox">
                                <% if current_user.race == 'Others'%>
                                  <label>
                                    <input type="checkbox" checked name="race" value="Others" ><span></span> Others
                                  </label>
                                <% else %>
                                  <label>
                                    <input type="checkbox" name="race" value="Others" ><span></span> Others
                                  </label>
                                <% end %>
                                </div>
                            </div><!-- .form-group -->
                            <div class="submit">
                                <button class="waves-effect" type="submit" class="btn btn-default">Save Settings</button>
                            </div>
                       <% end %>
                    </div><!-- .edit-profile -->
                </div><!-- Tab panes -->

      </div><!-- .container -->

    </div><!-- .content -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBugY-84oCu_k9IhbeeujBxkQXjbh_GtdQ"></script>
    <!-- script for radio button -->
    <script type="text/javascript">
      // the selector will match all input controls of type :checkbox
      // and attach a click event handler 
      $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
          // the name of the box is retrieved using the .attr() method
          // as it is assumed and expected to be immutable
          var group = "input:checkbox[name='" + $box.attr("name") + "']";
          // the checked state of the group/box on the other hand will change
          // and the current value is retrieved using .prop() method
          $(group).prop("checked", false);
          $box.prop("checked", true);
        } else {
          $box.prop("checked", false);
        }
      });
    </script>
<%= javascript_include_tag "home/moment" %>
<%= javascript_include_tag "home/bootstrap-datetimepicker" %>
<%= javascript_include_tag "home/jquery.nice-select.min" %>
<script>
  jQuery('#datetimepicker4').datetimepicker({ 
    format: 'MM/DD/YYYY'
  });
  var options = {
    types: ['(cities)'],
    componentRestrictions: {country: "My"}
  };
  function init() {
    var input1 = $('#location1')[0];
    var input2 = $('#location2')[0];
    var input3 = $('#location3')[0];
    new google.maps.places.Autocomplete(input1, options);
    new google.maps.places.Autocomplete(input2, options);
    new google.maps.places.Autocomplete(input3, options);
  }
  google.maps.event.addDomListener(window, 'load', init);
</script>