<%= form_for(:changepassword, :url => {:controller => 'profile', :action => 'change_password'}) do |f| %>
    <div class="form-group">
        <label>Email</label>
        <%= f.text_field :email, :class=>"form-control", :value=> current_user.email, :readonly => true %> 
    </div><!-- .form-group -->
    <% if flash[:validate_password] %>
            <div class="alert alert-danger">
                <strong><%= flash[:validate_password] %></strong>
            </div>
    <% end %>
    <% if flash[:change_password_success] %>
        <div class="alert alert-success">
        <strong><%= flash[:change_password_success] %></strong>
        </div>
    <% end %>                       
    <div class="form-group">
        <label>Password</label>
        <button type="button" class="changepass-btn btn btn-default btn-lg waves-effect">Change Password</button>
    </div><!-- .form-group -->
    <div class="change-password">
        <div class="form-group">
            <label>New Password</label>
                <%= f.password_field :password, :class=>"form-control newpass", :required => true, :id => 'password' %> 
            <div id="errorpassword"></div>
            <p class="help-block">Minimum 6 characters</p>
        </div><!-- .form-group -->
        <div class="form-group">
            <label>Confirm Password</label>
                <%= f.password_field :password_confirm, :class=>"form-control confirmpass", :required => true, :id => 'confirmpassword' %> 
            <div id="errorconfirmpassword"></div>
            <p class="help-block">Make sure they match!</p>
        </div><!-- .form-group -->   
                            <!-- </form> -->
    </div>
    <div class="form-group">
        <label>Current Password</label>
            <%= f.password_field :password_current, :class=>"form-control currentpass", :required => true %> 
        <p class="help-block">Enter your current password to save these changes.</p>
    </div><!-- .form-group -->
    <button type="submit" class="btn btn-default">Save Settings</button>
<% end %>
<%= javascript_include_tag "home/jquery" %>
<script type="text/javascript">
// When user type text (keypress)
    $( '#password' ).keypress(function() {
        var len = jQuery('#password').val().length;
        if (len < 5){
           jQuery('#errorpassword').html('<b style="color: red;">Password minimum is 6 characters!</b>');
        }
        if (len >= 20){
            jQuery('#errorpassword').html('<b style="color: red;">Password maximum is 20 characters!</b>');
        }
        if (len >=5 && len < 19){
            jQuery('#errorpassword').html('');
        } 
        limitText(jQuery('#password'), 19);
    });
    $( '#confirmpassword' ).keypress(function() {
        var len = jQuery('#confirmpassword').val().length;
        if (len < 5){
           jQuery('#errorconfirmpassword').html('<b style="color: red;">Password minimum is 6 characters!</b>');
        }
        if (len >= 20){
            jQuery('#errorconfirmpassword').html('<b style="color: red;">Password maximum is 20 characters!</b>');
        }
        if (len >=5 && len < 19){
            jQuery('#errorconfirmpassword').html('');
        } 
        limitText(jQuery('#confirmpassword'), 19);
    });
    function limitText(field, maxChar){
        var val = field.val();
        if ( val.length >= maxChar ){
            field.val(function() {
                return val.substr(0, maxChar);       
            });
    }
    // When user delete text using event keydown
    $('#password').keydown(function(){
        var len = jQuery('#password').val().length;
        if (len > 5 && len < 21) {
            jQuery('#errorpassword').html('');
        }
        if (len < 7){
            jQuery('#errorpassword').html('<b style="color: red;">Password minimum is 6 characters!</b>');
        }
    });
    // When user delete text using event keydown
    $('#confirmpassword').keydown(function(){
        var len = jQuery('#confirmpassword').val().length;
        if (len > 5 && len < 21) {
            jQuery('#errorconfirmpassword').html('');
        }
        if (len < 7){
            jQuery('#errorconfirmpassword').html('<b style="color: red;">Password minimum is 6 characters!</b>');
        }
    });
}
</script>