   <%= stylesheet_link_tag 'home/huan' %>
    <% if session[:user_id] != nil && User.where(id: session[:user_id]).count >0 %>
        <% @current_user =User.find(session[:user_id])%>
    <% end %>
    <% if session[:user_id] == nil || User.where(id: session[:user_id]).count ==0 %> 
        <div class="header header-logged header-login">
            <div class="header-search">
                <div class="auto-container">
                   <%= form_for(:searchjob, :url => {:controller => 'search', :action => 'search_job', :class => 'login-form'}) do |f| %>
                        <%= f.text_field :search, :placeholder => "Search", :value => "" %> 
                        <span class="hide-search"></span>
                    <% end %>
                </div>
            </div><!-- header-search -->
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left-header">
                        <div class="collapse navbar-collapse col-left-menu" id="left-menu">
                            <ul class="nav navbar-nav navigation">
                                <li class="discover"><a href="/job-listing" title="Discover">Discover</a></li>
                                <li><a href="/about-us" title="About Us">About Us</a></li>
                            </ul><!-- nav navbar-nav navigation dsafasdfa -->
                        </div><!-- left-menu -->
                    </div><!-- left-header -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mid-header">
                        <div class="logo text-center"><a href="/beetest" title="Logo"><%= image_tag "logo.png"%></a></div>
                        <div class="logo2 text-center"><a href="/beetest" title="Logo"><%= image_tag "small-logo.png"%></a></div> 
                    </div><!-- mid-header -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 right-header">
                        <div class="collapse navbar-collapse col-right-menu" id="right-menu">
                            <ul class="nav navbar-nav navbar-right login">
                                <li class="search">
                                    <a class="icon-search" href="#"><%= image_tag "search-icon2.png"%></a>
                                </li>
                                <li><a href="/login" class="btn btn-default navbar-btn" title="Login">Login</a></li>
                                <li class="register"><a href="/register" class="btn btn-default navbar-btn waves-effect" title="Register">Register</a></li>
                            </ul><!-- nav-bar-right -->
                        </div><!-- right-menu -->  
                    </div><!-- right-header -->
                </div><!-- row -->
            </div><!-- auto-container -->
        </div><!-- header-logged -->
    <% end %>
    <% if session[:user_id] != nil && User.where(id: session[:user_id]).count > 0 %>
    <% @user_current = User.find(session[:user_id]) %>
        <div class="header header-logged">
            <div class="header-search">
                <div class="auto-container">
                    <%= form_for(:searchjob, :url => {:controller => 'search', :action => 'search_job', :class => 'login-form'}) do |f| %>
                        <%= f.text_field :search, :placeholder => "Search", :value => "" %> 
                        <span class="hide-search"></span>
                    <% end %>
                </div>
            </div><!-- header-search -->
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left-header">
                        <div class="collapse navbar-collapse col-left-menu" id="left-menu">
                            <ul class="nav navbar-nav navigation">
                                <li class="discover"><a href="/job-listing" title="Discover">Discover</a></li>

                                <li><a href="/about-us" title="About Us">About Us</a></li>
                            </ul><!-- nav navbar-nav -->
                        </div><!-- left-menu -->
                    </div><!-- left-header -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mid-header">
                       <div class="logo text-center"><a href="/" title="Logo"><%= image_tag "logo.png"%></a></div>

                       <div class="logo2 text-center"><a href="/" title="Logo"><%= image_tag "small-logo.png"%></a></div> 
                    </div><!-- mid-header -->
                    <% if @user_current[:type_user] == "employer"%>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 right-header">
                            <div class="collapse navbar-collapse col-right-menu" id="right-menu">
                                <ul class="nav navbar-nav navbar-right logged">
                                    <li class="search">
                                        <a class="icon-search" href="#"><%= image_tag "search-icon2.png"%></a>
                                    </li>
                                    <% @count_notify = Notification.where(status: "unread", user_id: @user_current.id).or(Notification.where(status: "unread", admin: "admin", user_id: @user_current.id)).count%>
                                    <li class="notification">
                                        <a href="#" class="notifi-item"><%= image_tag "notification-icon.png"%></a>
                                        <% if @count_notify.positive?%>
                                            <div class="oval"></div>
                                        <% end %>
                                        <div class="dropdown-notification">
                                            <div class="notification-number">
                                                <h4>Notifications <span>
                                                     <%= @count_notify %>
                                                </span></h4>
                                            </div>
                                            <ul>
                                            <% @notification_current_user = Notification.where(status: "unread", user_id: @user_current[:id]).or(Notification.where(status: "unread", admin: "admin", user_id: @user_current.id)).all%>
                                                <% @notification_current_user.each do |notification|%>                                      
                                                    <li>
                                                        <%= link_to notification.content, {controller: "notification", action: "click_notification", id: notification.id }, class: "job_detail" %>
                                                        <span class="part-timer ">
                                                            <span class="time"><%= (Time.zone.now.min - notification.created_at.min).abs%> minute ago</span>
                                                        </span>
                                                    </li>
                                            <% end %>
                                            <% @notification_current_user = Notification.where(status: "read", user_id: @user_current[:id]).all%>
                                                <% @notification_current_user.each do |notification|%>
                                            <li>
                                                <a class="job-title" href="#">
                                                    <%= notification[:content]%>    
                                                </a>
                                                <span class="part-timer ">
                                                    <span class="time"><%= (Time.zone.now.min - notification.created_at.min).abs%> minute ago
                                                    </span>
                                                </span>
                                            </li>
                                            <% end %>
                                        </ul>
                                            <div class="end"><p>~ End ~</p></div>
                                        </div>
                                    </li>
                                    <% @user = User.find(session[:user_id])%>
                                    <% if @user.verify_postjob_employer == 1%>
                                        <li class="post-job"><a href="/employer-post-job" class="btn btn-default navbar-btn waves-effect" title="Post-job">Post job</a></li>
                                    <% end %>
                                    <% if @user.verify_postjob_employer == 0 || @user.verify_postjob_employer == nil %>
                                        <li class="post-job otp"><a href="#hiddenotp" class="btn btn-default navbar-btn waves-effect fancybox" title="Post-job">Post job</a></li>
                                    <% end %>
                                    <li class="avatar-image avatar-custom">
                                        <a href="/beetest" class="avatar-item">
                                        <% if Profile.where(user_id: session[:user_id]).count.positive?%>
                                            <% @profile = Profile.where(user_id: session[:user_id]).first%>
                                            <% if @profile.company_logo_file_name != nil %>
                                                 <%= image_tag @profile.company_logo.url("medium"), alt: "", :class => "avatar-custom" %>
                                            <% end %>
                                            <% if @profile.company_logo_file_name == nil %>
                                                 <%= image_tag "default-avatar.png", alt: "", :class => "avatar-custom" %>
                                            <% end %>
                                        <% else %>
                                            <%= image_tag "default-avatar.png", alt: "", :class => "avatar-custom" %>
                                        <% end %>
                                        </a>
                                        <div class="drop-right-menu">
                                            <div class="my-hive box-drop">
                                                <p>My hive</p>
                                                <ul class="nav-menu">
                                                    <li class="recommend"><a href="/01-all-jobs-listing?all-jobs">All jobs</a></li>
                                                    <li class="recommend"><a href="/01-all-jobs-listing?draft-jobs">Draft jobs</a></li>
                                                    <li><a href="/01-all-jobs-listing?published-jobs">Published jobs</a></li>
                                                    <li><a href="/01-all-jobs-listing?expired-jobs">Expired jobs</a></li>
                                                </ul>
                                            </div><!-- .my-hive -->
                                            <div class="settings box-drop">
                                            <p>Settings</p>
                                            <ul class="nav-menu">
                                                <li><a href="/settings-profile-employer?account">Account</a></li>
                                                <li><a href="/settings-profile-employer?edit-profile">Edit profile</a></li>
                                            </ul>
                                            </div><!-- .settings -->
                                            <div class="log-out">
                                                <span>You’re logged in as <span class="edison">
                                                    <%=@user.full_name%>
                                                </span>
                                                <a href="/logout">Log out</a>
                                            </span>
                                        </div><!-- log-out -->
                                        </div><!-- drop-right-menu -->
                                    </li>
                                </ul><!-- nav-bar-right -->
                            </div><!-- right-menu -->
                        </div><!-- right-header -->
                    <% end %>
                    <% if @user_current[:type_user] == "parttimer"%>
                    <% check_job_completed %>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 right-header">
                            <div class="collapse navbar-collapse col-right-menu" id="right-menu">
                                <ul class="nav navbar-nav navbar-right logged">
                                    <li class="search">
                                        <a class="icon-search" href="#"><%= image_tag "search-icon2.png"%></a>
                                    </li>
                                    <% @count_notification = Notification.where(status: "unread", user_id: @user_current.id).or(Notification.where(status: "unread", admin: "admin", user_id: @user_current.id)).count
                                    %>
                                    <li class="notification">
                                        <a href="#" class="notifi-item"><%= image_tag "notification-icon.png"%></a>
                                        <% if @count_notification.positive?%>
                                            <div class="oval"></div>
                                        <% end %>

                                        <div class="dropdown-notification">

                                            <div class="notification-number">

                                                <h4>Notifications <span>
                                                    <%= @count_notification%>
                                                </span></h4>
                                            </div>
                                            <ul>
                                            <% @notification_current_user = Notification.where(status: "unread", user_id: @user_current[:id]).or(Notification.where(status: "unread", admin: "admin", user_id: @user_current.id)).all%>
                                                <% @notification_current_user.each do |notification|%>                                          
                                            <li>
                                                <%= link_to notification.content, {controller: "notification", action: "click_notification", id: notification.id }, class: "job_detail" %>
                                                    <span class="part-timer ">
                                                        <span class="time"><%= (Time.zone.now.min - notification.created_at.min).abs%> minute ago
                                                        </span>
                                                    </span>
                                            </li>
                                            <% end %>
                                            <% @notification_current_user = Notification.where(status: "read", user_id: @user_current[:id]).all%>
                                                <% @notification_current_user.each do |notification|%>
                                            <li>
                                                <a class="job-title" href="#">
                                                    <%= notification[:content]%>    
                                                </a>
                                                <span class="part-timer ">
                                                    <span class="time"><%= Time.zone.now.min - notification.created_at.min%> minute ago
                                                    </span>
                                                </span>
                                            </li>
                                            <% end %>
                                        </ul>
                                            <div class="end"><p>~ End ~</p></div>
                                        </div>
                                    </li>
                                    <li class="avatar-image">
                                        <a href="#" class="avatar-item">
                                            <% @user = User.find(session[:user_id])%>
                                            <% if @user.avatar_file_name == nil %>
                                                <%= image_tag "default-avatar.png", alt: "", :class => "avatar-custom" %>
                                            <% else %>
                                                <%= image_tag @user.avatar.url("medium"), alt: "", :class => "avatar-custom" %>
                                            <% end %>
                                        </a>
                                        <div class="drop-right-menu">
                                            <div class="my-hive box-drop">
                                            <p>My hive</p>
                                            <ul class="nav-menu">
                                                <li><a href="/worker-applied-job?applied-jobs">Applied jobs</a></li>
                                                <li><a href="/worker-applied-job?started-jobs">Awarded jobs</a></li>
                                                <li><a href="/worker-applied-job?completed-jobs">Completed jobs</a></li>
                                                <li><a href="/worker-applied-job?favorite-jobs">Favorite jobs</a></li>
                                            </ul>
                                        </div><!-- .my-hive -->
                                            <div class="settings box-drop">
                                                <p>Settings</p>
                                                <ul class="nav-menu">
                                                    <li><a href="/settings-profile-parttimer?account">Account</a></li>
                                                    <li><a href="/settings-profile-parttimer?edit-profile">Edit profile</a></li>
                                                </ul>
                                            </div><!-- .settings -->
                                            <div class="log-out">
                                            <span>You’re logged in as <span class="edison">
                                                <%= @user.full_name%>
                                             </span>
                                            <a href="/logout">Log out</a>
                                            </span>
                                        </div><!-- log-out -->
                                        </div><!-- drop-right-menu -->
                                    </li>
                                </ul><!-- nav-bar-right -->
                            </div><!-- right-menu -->
                        </div><!-- right-header -->
                    <% end %>
                </div><!-- row -->
            </div><!-- auto-container -->
        </div><!-- header-logged -->
    <% end %>
    
    
