 <% if flash[:supportotp] %>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            setTimeout(function () {
                jQuery.fancybox("#supportotp");
                }, 10);
            jQuery('.fancybox').fancybox();
        });
    </script>
    <div id="supportotp">
        <div class="tab-content">
            <div class="tab-pane active" id="otp3">
                <div class="register-content otp-content">
                    <div class="step-title">
                        <div class="error-icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                        <h3 class="">Opps!</h3>
                    </div>
                    <div class="register-form">
                    <p class="text-center">You have reached a limit for receiving OTP<br><a href="#">Contact support</a> if you need help!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <% else %>

 <%= stylesheet_link_tag 'sweetalert/sweetalert' %>
  <%= javascript_include_tag "sweetalert/sweetalert.min" %>
    <%= javascript_include_tag "sweetalert/sweetalert-dev" %>
<div id="hiddenotp" style="display: none;width: 570px;">
        <%= form_for(:verifypostemployer, html: {:multipart => true}, :url => {:controller => 'home', :action => 'verify_phone'}) do |f| %>
            <div class="tab-content">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#otp1" data-toggle="tab">Step 1</a></li>
                    <li><a href="#otp2" data-toggle="tab">Step 2</a></li>
                    <li><a href="#otp3" data-toggle="tab">Step 3</a></li> 
                </ul>
                <div class="tab-pane active" id="otp1">
                    <div class="register-content otp-content">
                        <div class="step-title">
                            <h3>Add Your Contact Number</h3>
                            <p>Post job required a valid contact number, add your contact number now.</p>
                        </div><!-- .step-title -->
                        <div class="register-form">
                            <div class="form-group"> 
                                <div class="input-number"><input type="text" value="601" class="phone_region" name="phone_region"></div>
                                <input class="phone-number form-control" value="" type="text" name="phone-number" id="otp_phone_number" maxlength="12">
                                <span id="errmsg"></span>
                            </div><!-- .form-group -->
                            <div class="submit"> 
                                <a class="btn btn-primary btnNext1 waves-effect requestotp-btn" onclick="post_request_otp()">Request OTP</a>
                            </div>
                             
                            <% unless flash[:fail_otp].blank?%>
                                <script type="text/javascript">
                                    sweetAlert("Oops...", "The Contact Number has already been taken.!", "error");
                                </script>
                            <% end %>
                           <script type="text/javascript">  
                                function get_phone_number(){
                                    return "+601" + jQuery("#otp_phone_number").val();
                                }
                                function post_request_otp(){
                                    $.ajax({
                                        url:'http://www.bulksms2u.com/websmsapi/ISendSMS.aspx?username=smsjt&password=smssms&message=RM0.00 Your ParttimeBee verification code is ' + <%= generate_otp_code %> + '&mobile=' + get_phone_number() + '&Sender=Test&type=1',
                                        type:'get'
                                    });
                                }                     
                           </script>
                            
                        </div><!-- .register-form -->
                    </div>
                </div>
                <div class="tab-pane" id="otp2">
                    <div class="register-content otp-content">
                        <div class="step-title">
                            <h3 class="otp_tlte">OTP Sent!</h3>
                            <p class="expire_otp">
                                Your OTP will expire in <span class="J_countdown1" data-diff="60"></span> seconds
                            </p>
                        </div><!-- .step-title -->
                        <div class="register-form">
                            <div class="form-group">
                                <input class="phone-number form-control" type="text" name="phone-number" maxlength="13" value="601">
                            </div><!-- .form-group -->
                            <div class="form-group">                
                                <input class="otp-code form-control" id="otp_code" value="" type="text" name="otp-code" placeholder="OTP Code" maxlength="6">
                                <span id="errmsg_otp"></span>
                                <% if current_user %>
                                    <%= f.text_field :otpdatabase, :class=>"form-control", :id => 'otp_database', :type => 'hidden', :value => OtpCode.where(user_id: current_user.id).last.otp_code_string %>  
                                <% end %>
                            </div><!-- .form-group -->
                            <div class="submit"> 
                                <!-- <button type="submit" class="btn btn-default waves-effect submit_otp">Submit</button> -->
                                <button type="submit" class="btn btn-default waves-effect submitotp">Submit</button>
                            </div>
                        
                        </div><!-- .register-form -->
                    </div>
                </div>
                <div class="tab-pane" id="otp3">
                    <div class="register-content otp-content">
                        <div class="step-title">
                            <div class="error-icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                            <h3 class="">Opps!</h3>
                        </div>
                        <div class="register-form">
                        <p class="text-center">You have reached a limit for receiving OTP<br><a href="#">Contact support</a> if you need help!</p>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    
                                        
<%end%>


 